#!/bin/bash

DALCOOKIEPATH=<TMPL_VAR NAME=DALCOOKIEPATH>
DALBASEURL=<TMPL_VAR NAME=DALBASEURL>
DALWRITETOKEN=<TMPL_VAR NAME=DALWRITETOKEN>
DALUSERNAME=<TMPL_VAR NAME=USERNAME>
DALJOBID=<TMPL_VAR NAME=JOBID>

METADATACOL=<TMPL_VAR NAME=METADATACOLNAME>
METADATAROW=<TMPL_VAR NAME=METADATAROWNAME>
MARKERDATACOL=<TMPL_VAR NAME=EXTRACTID>
OUTPUTFILEFORMAT=<TMPL_VAR NAME=OUTPUTFILEFORMAT>
CHROMOSOME=<TMPL_VAR NAME=CHROMOSOME>
CHROMOSOMEPOSITION=<TMPL_VAR NAME=CHROMOSOMEPOSITION>
FILTERCHROMOSOME=<TMPL_VAR NAME=FILTERCHROMOSOME>

if [ ${#METADATACOL} -gt 0 ]
then
  
  METADATACOL="--metaDatacol $METADATACOL"
fi

if [ ${#METADATAROW} -gt 0 ]
then
  
  METADATAROW="--metaDataRow $METADATAROW"
fi

if [ ${#MARKERDATACOL} -gt 0 ]
then
  
  MARKERDATACOL="--markerDatacol $MARKERDATACOL"
fi

if [ $OUTPUTFILEFORMAT -gt 0 ]
then

  if [ $OUTPUTFILEFORMAT -eq 2 ]
  then
  
    METADATACOL="--metaDatacol $CHROMOSOME,$CHROMOSOMEPOSITION"
    
    if [ ${#FILTERCHROMOSOME} -eq 0 ]
    then
    
      METADATAROW="--metaDataRow $CHROMOSOMEPOSITION>0"
    fi
  fi
  
  OUTPUTFILEFORMAT=1
fi

/usr/bin/perl -w <TMPL_VAR NAME=DIRPATH>/algorithms/export_marker/export_marker_data.pl --analId <TMPL_VAR NAME=ANALYSISGROUPID> --dalBaseUrl "$DALBASEURL" --dalCookieFile "$DALCOOKIEPATH" --outDir <TMPL_VAR NAME=DIRPATH>/public/userdata/$DALUSERNAME/home/submitted_jobs/<TMPL_VAR NAME=JOBID>/ $METADATACOL $METADATAROW $MARKERDATACOL --transposeData $OUTPUTFILEFORMAT
# /usr/bin/perl -w <TMPL_VAR NAME=DIRPATH>/algorithms/export_marker/filter_export_column.pl -i <TMPL_VAR NAME=DIRPATH>/public/userdata/$DALUSERNAME/home/submitted_jobs/<TMPL_VAR NAME=JOBID>/ --metadata <TMPL_VAR NAME=METADATACOLNAME> --extractId <TMPL_VAR NAME=EXTRACTID>

if [ $? -ne 0 ]
then
  
  exit -1
else

  if [ $OUTPUTFILEFORMAT -gt 0 ]
  then
    
    
    for ORIGINALFILEPATH in `ls <TMPL_VAR NAME=DIRPATH>/public/userdata/$DALUSERNAME/home/submitted_jobs/<TMPL_VAR NAME=JOBID>/*.csv`
    do
      echo "Original file name: $ORIGINALFILEPATH"
    
      sed -i 's/,/\t/g' $ORIGINALFILEPATH
      NEWFILENAME=${ORIGINALFILEPATH/.csv/.tab}
    
      mv $ORIGINALFILEPATH $NEWFILENAME
    done
  fi
  
  echo "Export marker has finished. File is located in your home/submitted_jobs/$DALJOBID" | mail -s "Export Marker Report" <TMPL_VAR NAME=USEREMAIL>
fi