<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<script th:src="@{/static/js/jquery.min.js}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/plugins/algorithmform.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcmodal.css}" />
<script th:src="@{/static/js/plugins/algorithmform.js}"
	type="text/javascript"></script>

<head>

<meta charset="UTF-8" />

<script th:inline="javascript">
	/*<![CDATA[*/
	function portFileKnobs(){
		var fileUploadKnobs = document.getElementsByName("file_kdcompute_knob");
		var fileUploadKnobsId = [];
		for( f of fileUploadKnobs) {
			fileUploadKnobsId.push(f.id);
		}
		
		for (id of fileUploadKnobsId) {
			var inner_html = ""
				+ "<button id='"+id+"_fileUploadMyBtn' type='button'>Select file...<\/button>        \n"
				+ "<div id='"+id+"_fileUploadMyBtnText'><\/div>                                      \n"
				+ "<div id='"+id+"_fileUploadMyModal' class='modal'>                                 \n"
				+ "	<div class='modal-kdc modal-content'>                                            \n"
				+ "		<h3>Upload file:<\/h3>                                                       \n"
				+ "		<div id='kdcompute_fileupload_datatype'>                                     \n"
				+ "			<input type='file' id='"+id+"' name='file_kdcompute_knob'                \n"
				+ "				onchange='assignKDCChangeListenerModal(\""+id+"\");'                 \n"
				+ "				class='knobE' title='Via file upload' value='' \/>                   \n"                           
				+ "		<\/div>                                                                      \n"
				+ "		<hr \/>                                                                      \n"
				+ "		<h3>Select file from server:<\/h3>                                           \n"
				+ "		<div id='"+id+"_fileTree' class='filetree'><\/div>                           \n"
				+ "	<\/div>                                                                          \n"
				+ "<\/div>                                                                           \n"
				;
				var e = document.getElementById(id).parentElement;
				e.innerHTML = inner_html;
			    var base = /*[[@{/filetree/java}]]*/ ;
				assignKDCDuelFileListerner(base,id);
		}
	}


	var rootDir = null;
	var userPrefixDir = null;
	$(document).ready(function() {
		rootDir = [[${rootDir}]];
		portFileKnobs();
	});
	
		
	function fillForm(idx) {
		var knobValues = /*[[${examplesKnobbindings}]]*/[];
		var knobs = document.getElementsByClassName("knobE");
		for (i = 0; i < knobs.length; i++) {
			var k = knobs[i];
			var value = knobValues[idx][k.id];

			// Works closely with plugins.html::findChoiceKnobs()
			if (k.type == "checkbox") {
				if (value) {
					document.getElementById(k.id).checked = true;
				} else {
					document.getElementById(k.id).checked = false;
				}
				fireEventChangeKnob(k);
			} else if (k.type == "radio") {
				value = knobValues[idx][k.name];
				var radio = document.getElementById(k.id);
				if (radio.value == value) {
					radio.checked = true;
					fireEventChangeKnob(k);
				}
			} else if (k.type == "file") {
				var parent = document.getElementById(k.id).parentNode;
				parent.id = "kdcompute_text_datatype";
				parent.setAttribute("name", "outputFileOne");
				replaceTargetWith(k.id, "<input id='" + k.id + "' "
						+ " type=\"text\" value=\"" + value + "\" "
						+ "oninput=\"assignChangeListener('" + k.id + "');\""
						+ "name=\"" + k.id + "\""
						+ " readonly=\"readonly\" class=\"knobE\" />");

				
				document.getElementById(k.id+"_fileUploadMyBtn").style = "display: none;";
				var mainButton = document.getElementById(k.id+"_fileUploadMyBtnText").parentNode;
				mainButton.id = "kdcompute_text_datatype";
				mainButton.setAttribute("name", "outputFileOne");
				replaceTargetWith(k.id+"_fileUploadMyBtnText", "<input id='" + k.id+"_fileUploadMyBtnText" + "' "
						+ " type=\"text\" value=\"" + value + "\" "
						+ "oninput=\"assignChangeListener('" + k.id+"_fileUploadMyBtnText" + "');\""
						+ "name=\"" + k.id+"_fileUploadMyBtnText" + "\""
						+ " readonly=\"readonly\" class=\"knobE\" />");
				
				fireEventChangeKnob(k);
			} else {
				k.value = value;
				fireEventChangeKnob(k);
			}
		}

		$("input").each(
				function() {

					var knobName = this.id;
					var isKnob = findValidationRuleByKnobName(knobName);

					if (isKnob != null) {
						var errorMessageInputId = "message" + knobName;
						var errorMessageInput = document
								.getElementById(errorMessageInputId);
						errorMessageInput.innerText = "";
					}
				});

		validateForSubmitButton();
		
		document.getElementById("myDropdown").classList.toggle("show");
	}

	function fireEventChangeKnob(k) {
		// Fire change event
		var id = k.id;
		var elemId = document.getElementById(id);
		if (elemId != null && typeof elemId.onchange === 'function') {
			elemId.onchange();
		}
	}

	/*]]>*/
</script>

</head>
<body>
	<div class="algorithm_content_body">
		<!--<div th:include="examples_dropdown" ></div>    initially here -->
		<div id="form_knob">
			<form th:method="post" enctype="multipart/form-data"
				th:action="@{/submitform}">
				<div th:remove="tag" th:utext="${knobs_body}"></div>
				<div th:include="examples_dropdown"></div>
				<input th:type="submit" th:id="submit_button" th:disabled="true"
					value="Submit Job" />
			</form>
		</div>
	</div>
	

	<script th:src="@{/static/jquery.easing.js}" type="text/javascript"></script>
	<script th:src="@{/static/jqueryFileTree.js}" type="text/javascript"></script>
	<link th:href="@{/static/jqueryFileTree.css}" rel="stylesheet"
		type="text/css" media="screen" />
	
</body>
</html>