<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css"
		th:href="@{/static/css/adminplugin.css}" />

	<h1 style="color: red;">ERROR: Bad Ansible Vault Credentials</h1>

	<p>Provided ansible vault filepath and/or vault password did not
		match. Please go back and try again.</p>

	<h3>Exception Message:</h3>

	<p th:text="${err}"></p>

	<h1>How to Setup an Ansible Vault</h1>

	<p>An ansible vault is an encrypted file which holds privileged variables such as a sudo password, which can be passed to ansible-playbook when playing an ansible script requiring sudo privileges	</p>

	<h4>New Vault</h4>
	<pre><code>
ansible-vault create /path/to/ansible/vault/file
ansible_sudo_pass: yourpassword # Place inside the vault
</code></pre>


	<h4>Edit Vault</h4>
	<pre><code>ansible-vault edit /path/to/ansible/vault/file</code></pre>


</body>
</html>