<div class="dropdown">
	<button onclick="myFunction()" class="dropbtn" type="button">Plugin
		Examples</button>
	<div id="myDropdown" class="dropdown-content">
		<a th:each="example,itrStat :${examples}"
			th:text="${example.name + ': '+ example.description}"
			th:onclick="'fillForm(\''+${itrStat.index}+'\');'" />
	</div>
</div>
