<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css"
		th:href="@{/static/css/adminplugin.css}" />

	<h1 style="color: red;">
		ERROR: Command <em>ansible-playbook</em> not found
	</h1>

	<p>Ansible-playbook command is required to install this plugin.
		Please install onto your machine/server and provide it's path as
		ansibleCommand in application.properties before finally reloading
		KDCompute in the Tomcat manager</p>
	
	<h3>Exception</h3>

	<p th:text="${exception}"></p>

	<h3>Some Setup Guides</h3>

	<ul>
		<li><a
			href="https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-ansible-on-centos-7">Centos7</a></li>
		<li><a href="https://valdhaus.co/writings/ansible-mac-osx/">Mac</a></li>
		<li><a
			href="http://sharadchhetri.com/2015/07/19/install-ansible-on-ubuntu-centos-rhel/">Debian</a></li>
	</ul>
</body>
</html>