<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css"
		th:href="@{/static/css/adminplugin.css}" />

	<h1 style="color: red;">
		ERROR: Command '<em th:text="${groovyCommand}"></em>' not found
	</h1>

	<p>Groovy command is required to execute this plugin. Please install Groovy onto your machine/server and provide it's path as groovyCommand 
	in application.properties before finally reloading KDCompute in the Tomcat manager</p>

	<h3>Exception Message:</h3>

	<p th:text="${err}"></p>

	<h3>Some Setup Guides</h3>

	<ul>
		<li><a href="http://richardsumilang.com/programming/groovy/install-groovy-on-os-x/">Mac</a></li>
		<li><a href="https://askubuntu.com/questions/126980/how-do-i-install-groovy">Debian</a></li>
		<li><a href="http://groovy-lang.org/install.html">others...</a></li>
	</ul>
</body>
</html>