textarea {
	width: 100%;
}

.textwrapper {
	border: 1px solid #999999;
	margin: 5px 0;
	padding: 3px;
}

.stderrtext {
	color: red;
}

.jobstate {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

.jobstateimg {
	display: ruby-text-container;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	display: -webkit-box;
}

.reportbuttonFailed {
	margin: 10px;
	width: 200px;
	height: 60px;
	background-color: #f68780;
}

.reportbuttonFailed:hover {
	background-color: red;
}

.reportbutton {
	margin: 10px;
	width: 200px;
	height: 60px;
	background-color: #3f9af1;
}

.reportbutton:hover {
	background-color: blue;
}

#bugreportbutton {
	margin: 10px;
	width: 200px;
	height: 60px;
}