#checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

#folder_title, #files_title {
	font-size: 18px;
	font-weight: bold;
	color: #0d3c65;
	margin-bottom: -19px;
	padding-top: 20px;
}

div#filesandfolder{
height: 350px;
}

ul#file-managerlist {
	list-style-image: url("/css/cssicons/folder.png");
}

ul#filelist {
	border-style: solid;
	border-color: #045c95;
	border-radius: 5px;
	list-style-image: url("/css/cssicons/files.png");
	margin-top: 9px;
}

#foldertree li {
	cursor: pointer;
	border: 1px;
}

section {
	width: 90%;
	margin: auto;
}

div#foldertree li:hover {
	color: #63c1ed;	
}

div#foldertree li:focus {
	color: #63c1ed;
}

div#foldertree {
	width: 40%;
	float: left;
	background-color: #dae7fe;
	color: black;
	margin: 30px 0 30px 30px;
	padding: 20px;
	margin-right:50px;
	border:3px solid #045c95;
	border-radius: 5px;
	
}

div#formandmessage {
float:left;
clear:both;
margin-left: 26px;
}

#form_fileupload #submit_button, #delete button {
	margin: 1px;
	float: none;
	align: center;
	padding: 5px;
	background-color: #0072bc;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	font-size: 13px;
	width: 62px;
	text-align: center;
	color: white;
}

#form_fileupload #submit_button, #delete button:hover {
	background: #89f0ff;
 	text-decoration: none;
}

#form_fileupload #submit_button, #delete button:disabled {
	background: #dddddd;
	cursor: not-allowed;
}

div#delete {
float:right;
margin-right: 26px;
clear:both;
margin-bottom: 20px;
}

div#footer {
float:left;
}

div#files {
	margin-top:0px;
	margin-left: 20%;
	background-color: #6dcff6;
}

#kdcompute_menu {
       margin-bottom: 10px;
}