@CHARSET "UTF-8";


@font-face {
	/* font-family: 'alte_haas_groteskregular';
	font-style: normal;
	font-weight: normal;
	src: url('/static/helpimg/altehaasgroteskregular-webfont.ttf')
		format('truetype') */
		font-family: Arial;
}

@font-face {
	/* font-family: 'alte_haas_groteskbold';
	font-style: normal;
	font-weight: normal;
	src: url('/static/helpimg/altehaasgroteskbold-webfont.ttf')
		format('truetype'); */
		font-family: Arial;
		font-weight: bold;
}

.rhimage {
	float: Right;
	border: 2px solid;
	color: #3694d1;
	margin: 0px 0px 15px 20px;
}

.rhimagenb {
	float: Right;
	border: 2px;
	color: #3694d1;
	margin: 0px 0px 15px 20px;
}

.lhimage {
	float: Left;
	border: 2px solid;
	color: #3694d1;
	margin: 10px 15px;
}

/*img{border:1px solid; color:#A38877;}
*/

#kdcompute-help-list { 
	border-bottom: 1px solid silver;
	padding-bottom: 30px;
}

a {
	/* font-family: 'alte_haas_groteskregular'; */
	font-family: Arial;
	color: #00aeef;
} 

tr, ul, dl, dt, li, p {
	/* font-family: 'alte_haas_groteskregular'; */
	font-family: Arial;
	color: #000000;
	line-height: 20px;
	/* list-style-type: inherit; */
}

li a {
	text-decoration: none;
	color: #00aeef;
}

hr {
	color: #0072bc;
}

h1 {
	/* font-family: 'alte_haas_groteskbold'; */
	font-family: Arial;
	color: #0d3c65;
}

h2 {
	margin-top: 50px;
	margin-bottom: 30px;
}

h2, th, dt {
	font-family: Arial;
	color: #045c95;
	padding-top: 30px;
}

h3, h4 {
	font-family: Arial;
	color: #007ac9;
	padding-top: 10px;
	margin-top: 30px;
}

h5 {
	font-family: Arial;
	colour: black;
	font-size: 15px;
}

table.table1 {
	border: 2px double Red
}

table.table1 {
	border-spacing: 0
}

table.table1 td, th {
	padding: 0 0.2em
}

tr {
	background-color: rgb(256, 256, 256);
}

tr:nth-child(2n+1) {
	background-color: #e3ebf1;
}

body {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("/static/helpimg/contentbg.png");
	background-origin: padding-box;
	background-position: 50% 0;
	background-repeat: repeat;
	background-size: auto auto;
}

#wrap {
	margin-left: 100px;
	margin-right: 100px;
}

.help-topics {
	border-bottom: 1px solid silver;
	padding-bottom: 60px;
}

pre {
	background-color: #dae7fe;
	border: 1px solid #0d3c65;
	margin-bottom: 1.7em;
	margin-right: 6em;
	overflow: auto;
	padding: 1em !important;
}

div.rightside_image {
	float: right;
	padding: 10px;
	margin: 10px;
	border: 2px solid #cccccc;
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

div.leftside_image {
	float: left;
	padding: 10px;
	margin: 10px;
	border: 2px solid #cccccc;
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

div.central_image {
	float: none;
	padding: 5px;
	margin: 5px;
	border: 2px solid #cccccc;
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

.center{
	 display: block;
    margin-left: auto;
    margin-right: auto;
}

.screenshot {

     height: 400px;
     border: 1px solid #0d3c65;
    
}