@CHARSET "UTF-8";

th {
	font-size: 20px;
	padding-bottom: 10px;
	color: #0d3c65;
}

td {
	padding: 3px;
}

.user_jobs_summary {
	margin: auto;
	padding: 10px;
	width: 100%;
	border: 1px solid red;
	outline: black dashed thick;
}

.user_jobs_summary ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.user_jobs_summary ul li {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.user_jobs_summary ul li {
	margin: auto;
	font-size: 15px;
	font-style: italic;
}

table {
	border-spacing: 0 0.1em;
}

th, td {
	padding: 0.5em 1em;
}

/** HEADER **/
thead tr th {
	text-align: center;
	border-radius: 0.6em 0 0 0.6em;
}

thead th {
	text-align: center;
	border-radius: 0 0.6em 0.6em 0;
}

/** BODY **/
tbody tr td {
	text-align: center;
	background-color: rgba(255, 255, 255, .6);
}

tbody td {
	text-align: center;
}

/** HOVER EFFECT **/
tbody tr:hover td {
	background-color: rgba(255, 255, 255, 0.5);
}

tbody tr:hover td {
	
}

table.row-clickable tbody tr td {
	padding: 0;
}

table.row-clickable tbody tr td a {
	display: block;
	padding: 8px;
}

/** FOOTER **/
tfoot tr td {
	border-radius: 0.6em 0.6em 0.6em 0.6em;
	text-align: center;
}

.new_even {
	background-color: #e1e1e1;
}

.new_odd {
	background-color: #ffffff;
}

.erased_even {
	background-color: #77c0dc;
}

.erased_odd {
	background-color: #74ccf3;
}

.running_even {
	background-color: #f57900;
}

.running_odd {
	background-color: #fcaf3e;
}

.paused_even {
	background-color: #eee14c;
}

.paused_odd {
	background-color: #fdf99f;
}

.completed_even {
	background-color: #a9f563;
}

.completed_odd {
	background-color: #73d216;
}

.failed_even {
	background-color: #f97d7d;
}

.failed_odd {
	background-color: #f14747;
}

.cancelled_even {
	background-color: #d3d7cf;
}

.cancelled_odd {
	background-color: #babdb6;
}

.unknown_even {
	background-color: #f1bd4c;
}

.unknown_odd {
	background-color: #d9b155;
}



@-webkit-keyframes blink {
        0%   { opacity:0.5; }
        50%  { opacity:1.0; }
        100% { opacity:0.5; }
}
@-moz-keyframes blink {
        0%   { opacity:0.5; }
        50%  { opacity:1.0; }
        100% { opacity:0.5; }
}
@-ms-keyframes blink {
        0%   { opacity:0.5; }
        50%  { opacity:1.0; }
        100% { opacity:0.5; }
}
.blink {
     -webkit-animation: blink 1s infinite;
     -moz-animation:    blink 1s infinite;
     -ms-animation:     blink 1s infinite;
}




/*COLOURS FOR THE COLOUR BLIND*/

/*DOWNLOAD SPECTRUM ON GOOGLE CHROME TO VIEW THE SCREEN IN A COLOUR BLIND PERSPECTIVE*/

/*TEST 1*/

/* .new_even {
	background-color: #fbf9c7;
}
.new_odd {
	background-color: #fff86a;
}

.running_even {
	background-color: #ba7ccf;
}
.running_odd {
	background-color: #a15dc4;
}

.paused_even {
	background-color: #ffffff;
}
.paused_odd {
	background-color: #ebebeb;
}

.completed_even {
	background-color: #77b5fd;
}
.completed_odd {
	background-color: #5194fe;
}

.failed_even {
	background-color: #999899;
}
.failed_odd {
	background-color: #7e7e7f;
}

.cancelled_even {
	background-color: #e8e7e9;
}
.cancelled_odd {
	background-color: #cfcfd3;
} */

/*TEST 2*/

/* .new_even {
	background-color: #ffffff;
}
.new_odd {
	background-color: #ebebeb;
}

.running_even {
	background-color: #fac7af;
}
.running_odd {
	background-color: #f4ae83;
}

.paused_even {
	background-color: #a6cfff;
}
.paused_odd {
	background-color: #77b5fd;
}

.completed_even {
	background-color: #fbf9c7;
}
.completed_odd {
	background-color: #fff86a;
}

.failed_even {
	background-color: #999899;
}
.failed_odd {
	background-color: #7e7e7f;
}

.cancelled_even {
	background-color: #e8e7e9;
}
.cancelled_odd {
	background-color: #cfcfd3;
} */

/*TEST 3*/

/* .new_even {
	background-color: #a6cfff;
}
.new_odd {
	background-color: #77b5fd;
}

.running_even {
	background-color: #fac7af;
}
.running_odd {
	background-color: #f4ae83;
}

.paused_even {
	background-color: #ffffff;
}
.paused_odd {
	background-color: #ebebeb;
}

.completed_even {
	background-color: #fbf9c7;
}
.completed_odd {
	background-color: #fff86a;
}

.failed_even {
	background-color: #999899;
}
.failed_odd {
	background-color: #7e7e7f;
}

.cancelled_even {
	background-color: #e8e7e9;
}
.cancelled_odd {
	background-color: #cfcfd3;
} */

.container {
  margin-top: 20px;
}

#slideout {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  color: #333;
  position: fixed;
  top: 100px;
  left: -520px;
  width: 500px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout form {
  display: block;
  padding: 20px;
}
#slideout textarea {
  display:block;
  height: 100px;
  margin-bottom: 6px;
  width: 250px;
}
#slideout.on {
  left: 0;
}

.jobinfo {
	padding: 10px;
}