@CHARSET "UTF-8";

.plugin_summary_preview {
	width: 100%;
}

.menu {
	margin: 8px;
}

/*
* Output preview.
*/
.plugin_summary_preview_title_stdout {
	
}

.plugin_summary_preview_body_stdout {
	color: blue;
}

/*
* Error preview. 
*/
.plugin_summary_preview_title_stderr {
	
}

.plugin_summary_preview_body_stderr {
	color: red;
}

/*
* Script preview.
*/
.plugin_summary_preview_title_script {
	
}

.plugin_summary_preview_body_script {
	color: green;
}

.plugin_summary_preview_line {
	padding: 0px;
	margin: 0px;
	spacing: 0px;
	display: block;
}

.container {
	
}

.right {
	width: 50%;
	float: right;
	height: auto;
	overflow: hidden;
	margin-top: 20px;
}

.left {
	float: none; /* not needed, just for clarification */
	width: auto;
	height: auto;
	overflow: hidden;
	margin-top: 20px;
}


	/* Style the buttons that are used to open and close the accordion panel */
	
.right button {
	background-color: #458ad4;
	border-color: white;
}

.right button:hover {
	background-color: #045c95;
	border-color: white;
}

.left button {
	background-color: #458ad4;
	border-color: white;
}

.left button:hover {
	background-color: #045c95;
	border-color: white;
}

button.btn.btn-info.plugin_file_download {
	background-color: #074685;
}

button.btn.btn-info.plugin_file_download:hover {
	background-color: #89f0ff;
}

button.accordion {
	background-color: #e5e9e9;
	color: #0d3c65;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
	display: block !important;
}

.plugin_file_elem_button {
	width: 80%;
	float: left;
}

.plugin_file_download {
	width: auto;
}

.displaynone {
	display: none;
}

body {
	font-family: "Lato", sans-serif;
}

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #c2cedd;
	background-color: #e8e9ed;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
}

/* Style the links inside the list items */
ul.tab li a {
	display: inline-block;
	color: #0d3c65;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.compression_icon {
	float: right;
	width: 5%;
	height: 5%;
	min-height: 100px;
	min-width: 100px;
	margin: auto;
	margin-right: 15px;
	margin-top: 20px;
}

.compression_icon:hover {
	opacity: 0.5;
    filter: alpha(opacity=50);
}

img.jobstateimg {
	opacity: 0.8;
	filter: alpha(opacity = 80); /* For IE8 and earlier */
/* 	width: 10%; */
}

img.jobstateimg:hover {
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
/* 	width: 10%; */
}

.cancelbutton {
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	/*height: 50px; **/
	border-radius: 5px;
	float: right;
	position: relative;
	background: red;
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
}

.cancelbutton:hover {
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
/* 	width: 10%; */
}

.downloadzipbutton {
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	/*height: 50px; **/
	border-radius: 5px;
	float: right;
	position: relative;
	background: #0072bc;
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
}

.downloadzipbutton:hover {
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
/* 	width: 10%; */
}

.jobcancelexec{
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	/*height: 50px; **/
	border-radius: 5px;
	float: right;
	position: relative;
	background: #4d97d2;
}

.jobstate {
	margin: auto;
	
}

.refreshmsg {
	text-color: blue;
	 text-align: center;
	 font-weight: bold;
}

footer {
	padding-top: 20px;
}

#body {
	padding: 10px;
}

.blink_text {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

     color: #337ab7;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }