.nav.side-menu>li>a:hover {
	color: #4fa8ff !important;
}

.nav.child_menu>li>a:hover {
	color: #4fa8ff !important;
}

.nav.side-menu>li>a {
	color: #0d3c65;
	font-weight: 500;
}

.nav.side-menu>li.current-page, .nav.side-menu>li.active {
	border-right: 5px solid #4fa8ff;
}

.nav-md .container.body .left_col.scroll-view {
	width: 250px;
}

.nav-md .container.body .right_col {
	padding: 10px 30px 0;
	margin-left: 250px;
}

.nav.child_menu>li>a {
	color: #0d3c65;
	font-size: 14px;
	padding: 9px;
}

.nav-md ul.nav.child_menu li:before {
	background: #0d3c65;
}

/*.nav-md ul.nav.child_menu li:after {
	border-left: 0px none #89f0ff;
} */

.algorithmHelp {
	height: 62vh;
	width: 100%;
}

#includedContent {
	height: 100%;
}

.algorithmWindow {
	position: relative;
	top: 3%;
	bottom: 0px;
	left: 3%;
	right: 3%;
	height: 70vh;
}

.row {
	height: 100%;
}

#tab_ui {
	height: 100%;
}

#myTabContent {
	height: 100%;
}

#tab_content2 {
	height: 100%;
}

select {
	width: 100%;
}

.left_col {
	background: #98ccff33;
}


#tab_content1 {
	margin-top: 1px;
}



/*#script_section >select{
  
   float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21; 
=======
#script_section>* {
	float: left;
	width: 150px;
	height: 75px;
	margin: 10px;
	border: 3px solid #73AD21;
>>>>>>> c3d25afd49cfa2508473f1bf3d77b1c3cf7422fb
}
*/

.listTab {
	float: left;
	width: 100%
}


.thumbnail .image{
    height: 90px;  
}
.thumbnail{
    height:124px;
}

.col-md-55{
    margin: 0;
}



#includedContent {
	height: 100%;
}

#dialog label, #dialog input {
	display: block;
}

#dialog label {
	margin-top: 0.5em;
}

#dialog input, #dialog textarea {
	width: 95%;
}

#tabs {
	margin-top: 1em;
}

#tabs li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

#add_tab {
	cursor: pointer;
}