@CHARSET "UTF-8";

html {
	font-family: Arial;
}

body {
	padding: 10px;
}

#kdcompute_menu {
	background: #4fa8ff !important;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(white, #4fa8ff) !important;
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, #4fa8ff) !important;
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #4fa8ff) !important;
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #4fa8ff) !important;
	/* Standard syntax */
	padding: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
}

.users_login_name_with_pic {
	position: absolute;
	/* 	margin-top: -85px; */
	margin-right: 80px;
	/* 	align: center; */
	padding: 10px;
	font-size: 16px;
	color: #000000;
	padding: 10px;
	bottom: 0;
	right: 0;
}

.users_login_name {
	position: absolute;
	font-size: 16px;
	color: #000000;
	padding: 10px;
	bottom: 0;
	right: 0;
}

input[type="submit"] {
	float: right;
	/* 	margin-top: -70px; */
	/* 	margin-right: 20px; */
	display: block;
	align: center;
	padding: 10px;
	background-color: #0072bc;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	font-size: 13px;
	width: 62px;
	text-align: center;
	color: white;
}

input[type="submit"]:hover {
	background: #89f0ff;
	text-decoration: none;
}

/* input[type="button"] {
	float: right;
	margin-top: -80px;
	margin-right: 20px;
	display: block;
	align: center;
	padding: 10px;
	background-color: #057998;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	font-size: 13px;
	width: 62px;
	text-align: center;
	color: white;
}

input[type="button"]:hover {
	background: #0ae4e8;
 	text-decoration: none;
}  */
.main-menu-panel ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 17px;
}

.main-menu-panel ul li {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
}

.main-menu-panel ul li a {
	text-decoration: none;
	color: #0d3c65;
	font-weight: bold;
}

.main-menu-panel ul li a:hover {
	color: #89f0ff;
	font-weight: bold;
}

.main-menu-panel ul li .active {
	color: #89f0ff;
	border-bottom: 2px solid #89f0ff;
	padding-bottom: 5px;
}

#kdcompute_footer {
	clear: both;
	text-align: center;
	display: block;
	font-weight: bold;
	color: #0d3c65;
	margin-top: 120px;
	border-top: 1px solid #0d3c65;
	z-index: -1;
}

/* .kdcompute_with_text_image { */
/* 	float: left; */
/* } */
.logout {
	padding: 10px;
	margin: 0 0 0px;
}

.select {
	float: right;
	margin: 0px 10px 0px 10px;
	max-width: 200px;
	display: block;
	align: center;
	padding: 10px;
	background-color: #0072bc;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 13px;
	text-align: center;
	color: white;
}

.portrait {
	
}

.portraitoutside {
	float: right;
}

.portraitinside {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 64px;
	height: 64px;
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
}