.btn_submit_center {
	margin-left: 25%;
	margin-right: 25%;
	padding: 5px;
	background-color: #0072bc;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	font-size: 12px;
  width: 220px;
  height: 40px;
	text-align: center;
	color: white;
}