@CHARSET "UTF-8";

html {
  font-family: arial;
}

#login_header {
  	background : #4fa8ff!important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #4fa8ff)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #4fa8ff)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #4fa8ff)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #4fa8ff)!important; /* Standard syntax */
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.header-logo {
  display: block;
  margin: 0 auto;
}

* {
  padding: 10px 10px 10px 10px;
}

.help {
  display: block;
  float: center;
  padding: 10px;
  background-color: #0072bc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 12px;
  bottom: 19px;
  right: 20px;
  width: 62px;
  position: absolute;
  text-align: center;
}
.help:hover {
  background: #89f0ff;
  text-decoration: none;
}
.help a {
  color: white;
  text-decoration: none;
}

.login_form_div{
    margin: 0 auto; 
}

.register {
   display: block;
  float: center;
  padding: 10px;
  background-color: #0072bc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 12px;
  bottom: 19px;
  right: 20px;
  width: 62px;
  text-align: center;
}
.register:hover {
  background: #89f0ff;
  text-decoration: none;
}
.register a {
  color: white;
  text-decoration: none;
}

.login-msg {
  display: block;
  align: center;
  text-align: center;
  color: red;
  font-size: 12px;
  spacing: 20px;
}

.login-form {
  display: block;
  align: center;
  text-align: center;
  spacing: 20px;
  margin-top: 50px;
}

.btn_submit_right {
  margin-left: 180px;
  padding: 5px;
  background-color: #0072bc;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 12px;
  width: 120px;
  height: 40px;
  text-align: center;
  color: white;
}

#btn_submit:hover {
  background: #89f0ff;
  text-decoration: none;
}

.footer {
  display: block;
  align: center;
  text-align: center;
  spacing: 20px;
  font-weight: bold;
  color: #0d3c65;
  margin-top: 50px;
  border-top: 1px solid #0d3c65;
}


