.carbon-img {
	float: left;
	padding: 10px;
}

.navbaradd {
	background-color: #fff;
	margin: 5px;
}

#idaccordionkdc {
	border-radius: 5px;
	margin-bottom: 2px;
	margin-top: 2px;
}

#listview {
	padding: 5px;
	border-radius: 5px;
}

#panelid {
	margin: 0px;
}

.panel ul {
	list-style-type: none;
}

#listview {
	margin-bottom: 2px;
}

.carbon-text {
	color: #888;
	display: inline-block;
	font-family: Verdana;
	font-size: 11px;
	font-weight: 400;
	height: 60px;
	margin-left: 9px;
	width: 142px;
	padding-top: 10px;
}

.carbon-text:hover {
	color: #666;
}

.carbon-poweredby {
	color: #6A6A6A;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 13px;
	text-align: center;
}

.viewport {
	position: relative;
	margin: 0;
	padding: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.frame {
	margin: 0;
	padding: 0;
	position: relative;
	width: 200%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
}

.menu-slide {
	position: relative;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	float: left;
}

.mynav {
	background-color: #0072bc;
	color: white;
	transition: all 0.3s ease-out;
}

.mynav:hover {
	background-color: #89f0ff;
	color: white;
	transition: all 0.3s ease-out;
}

.corp {
	position: relative;
	-webkit-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
	margin: 0;
	padding: 0;
	width: 48%;
	height: 100%;
	display: block;
}

.container {
	top: 0;
	display: block;
}

section {
	width: 100%;
	padding: 2px;
}

div#plugins_listview {
	width: 500px;
}

div#algorithm_content {
	
}

header a {
	text-shadow: none;
}

#heading_plugins {
	color: #0d3c65;
}

button.accordion {
	background-color: #458ad4;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.2s;
}

button.accordion.active, button.accordion:hover {
	background-color: #045c95;
}

div.panel {
	padding: 0px 0px;
	display: none;
	color: #0072bc;
	border: none;
}

div.panel a:hover {
	color: #7db8ff;
}

div.panel a {
	cursor: pointer;
}

div.panel.show {
	display: block
}

#plugins_listview {
	
}

.algorithm_content {
	
}

.select_plugin_img {
	max-width: 100%;
	opacity: 0.3;
}

.navbar-btn {
	margin-top: 6px;
	height: 60px;
	width: 60px;
}

#leftCol {
	float: left;
	width: 25%;
	overflow: hidden;
}

#rightCol {
	float: left;
	width: 70%;
	overflow: hidden;
}

#sides {
	margin: 0;
}

.pluginFormArea {
	width: 70%;
	height: 80vh;
}

#accordianpanel {
	z-index: 1;
}

.listitems {
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
}

.listitems_ver {
	
}

/* iframe itself */
#includedContent>iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}

#includedContent {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.wrapper {
	overflow: hidden;
}

.wrapper div {
	padding: 10px;
}

#one {
	float: left;
}

#two {
	overflow: hidden;
	margin: 10px;
	min-width: 500px;
	height: 75vh;
}

@media screen and (max-width: 400px) {
	#one {
		float: none;
		margin-right: 0;
		width: auto;
		border: 0;
	}
}

button.accordionVersion {
	background-color: #458ad4;
	color: white;
	cursor: pointer;
	padding: 10px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.2s;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

button.accordionVersion.active, button.accordion:hover {
	background-color: #045c95;
}

.aleft {
	float: left;
	width: 90%;
}

.aright {
	float: right;
}

