.logosdiv {
	position: relative;
	left: 0;
	right: 0;
}

.logo {
	align-items: center;
	justify-content: center;
	padding: 10px 10px 10px 10px;
	margin: auto;
	display: inline-block;
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
}

.logo:hover {
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
}

.center {
	margin: auto;
	padding: 10px;
}

.picture {
	float: right;
	margin: 0 0 100px 100px;
	width: 200px;
	height: 200px;
	padding: 10px 10px 10px 10px;
}

.ldap {
	align-items: center;
	justify-content: center;
	padding: 10px 10px 10px 10px;
	margin: auto;
	display: inline-block;
	border-style: solid;
	border-color: grey;
	padding: 5px 5px 5px 5px;
}

.submit {
	float: right;
}

.ldapImage {
	max-width: 150px;
	max-height: 150px;
	float: middle;
}

.boarder {
	border-style: solid;
	padding: 5px 5px 5px 5px;
}