
#accordianpanel {
	position: absolute;
	background: #d9ecff;
	color: #fff;
	height: auto;
	padding: 5px;
	left: -510px; 
	opacity: 0.9;
	transition: left 0.4s ease-in-out;
	-o-transition: left 0.4s ease-in-out;
	-ms-transition: left 0.4s ease-in-out;
	-moz-transition: left 0.4s ease-in-out;
	-webkit-transition: left 0.4s ease-in-out;
	border-radius: 5px;
}

#accordianpanel h2, #accordianpanel p {
	padding: 5px;
}

#accordianpanelCaller {
	position: absolute;
	top: -5px;
	left: 520px;
	padding: 25px 20px;
	background: #0072bc;
    border-radius: 5px;
}

#accordianpanel:hover {
	left: 0px;
}





