<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />



<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/adminplugin.css}" />

<!-- 
	ELFinder components
	 -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.min.css}" />
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"
	type="text/javascript"></script>
<script th:src="@{/static/js/jquery-ui.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/elfinder/2.1.11/css/elfinder.min.css}" />
<link rel="stylesheet" type="text/css"
	href="@{/webjars/elfinder/2.1.11/css/theme.css}" />
<script th:src="@{/webjars/elfinder/2.1.11/js/elfinder.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- 
Display plugins in tabular format
 -->

	<div class="jobCompletedImg">
		<img class="jobstateimg" th:src="@{${jobCompletedImgUrl}}" />
	</div>

	<h1 class="jobstate" th:text="${title}"
		th:style="'color: '+${titleColor}+';'"></h1>

	<div th:if="${success}==false">
		<p style="color: red;">This plugin has not been installed due to
			deployment errors, but you can try the following:
		<ul>
			<li><a
				th:href="@{'/admin/plugin/deploy/nodep?pluginNameVersion='+${pluginNameVersion}}">Run plugin tests only</a> (This will skip any dependency installation, which you
				can do manually) (RECOMMENDED)
			</li>
			<li><a th:href="@{'/admin/plugin/forcedeploy?pluginNameVersion='+${pluginNameVersion}}">Force
					Deployment</a> (This will skip both dependency installation and unit
				tests, providing no assurance of correct operation) (NOT RECOMMENDED)</li>
		</ul>


		Force Deployment
		</p>
	</div>


	<p>
		Name: <span th:utext="${pluginname}" />
	</p>
	<p>
		Dependency Script: <span th:utext="${script}" />
	</p>
	<p>
		Maintainer's email: <span th:utext="${memail}" />
	</p>
	<p>
		<em th:if="${!additionalMsg.isEmpty()}">NOTE: <span
			th:text="${additionalMsg}" /></em>
	</p>



	<h3>STDOUT</h3>
	<div style="display: block;" id="rulesformitem" class="formitem">
		<div class="textwrapper">
			<td cols="2" th:each="e : ${stdout_rows}" readonly="true"
				class="rules">
			<td th:text="${e}" /> <br />
			</td>
		</div>
	</div>


	<h3>STDERR</h3>
	<div style="display: block;" id="rulesformitem" class="formitem">
		<div class="textwrapper stderrtext">
			<td cols="2" th:each="e : ${stderr_rows}" readonly="true"
				class="rules">
			<td th:text="${e}" /> <br />
			</td>
		</div>
	</div>
	<!--  /yield -->


	<div class="container">
		<button type="button"
			th:classappend="${hasFailed} ? reportbuttonFailed : reportbutton"
			data-toggle="collapse" data-target="#failedPlugin"
			th:text="${hasFailed} ? 'Create a
			bug report' : 'Email developer'"></button>
		<div id="failedPlugin" class="collapse">
			<div th:if="${pluginReportContainer != null}">
				<form action="#"
					th:action="${hasFailed} ? @{/buggedplugin} : @{/emailplugin}"
					th:object="${pluginReportContainer}" method="post">
					<input th:field="*{failedTests}" type="hidden"
						th:value="${failedTests}" /> <input th:field="*{pluginFiles}"
						type="hidden" th:value="${pluginFiles}" /> <input
						th:field="*{selectedDep}" type="hidden" th:value="${selectedDep}" />
					<input th:field="*{stderr}" type="hidden" th:value="${stderr}" />
					<input th:field="*{stdout}" type="hidden" th:value="${stdout}" />
					<input th:field="*{unitTestRoot}" type="hidden"
						th:value="${unitTestRoot}" />
					<div style="margin-bottom: 10px">
						<p>An email will be sent to the plugin developer, containing:</p>
						<ul>
							<li>Your message</li>
							<li>Test outputs</li>
							<li>System information</li>
						</ul>

						<table>
							<col width="150" />
							<col width="400" />
							<tr>
								<td>Developers Email</td>
								<td><input th:field="*{email}"
									th:value="${pluginReportContainer.email}" autocomplete="off"
									type="text" size="30" /></td>
							</tr>
							<tr>
								<td>Your Email</td>
								<td><input th:field="*{emailcc}"
									th:value="${pluginReportContainer.emailcc}" type="text"
									size="30" required="true" /></td>
							</tr>
						</table>
					</div>

					<div style="margin-bottom: 10px">
						<label for="textarea">Additional Message</label>
						<textarea th:field="*{description}" cols="60" rows="5"
							name="textarea" id="textarea">Description</textarea>
					</div>

					<input id="bugreportbutton"
						th:classappend="${hasFailed} ? reportbuttonFailed : reportbutton"
						type="submit" th:value="${hasFailed} ? 'Send Bug Report' : 'Send'" />
				</form>
			</div>
		</div>
	</div>

	<h3>Outputs of Unit tests</h3>
	<div id="elfinder"></div>

	<!--  	<form action="#" th:action="@{/buggedplugin}"  method="post">
    	<input type="hidden"  />
        <input type="hidden"  />
        <p><input id="bugreportbutton" type="submit" value="Send Bug Report" /></p>
    </form>  -->
	<script th:inline="javascript" charset="utf-8">
/*<![CDATA[*/
			$(document).ready(function() {
				 var context = [[@{/}]];
				 var dirpath = [[${dirpath}]];
				 var pluginName = [[${pluginName}]];
				$('#elfinder').elfinder({
					url : context+'elfinder-servlet/connector/admin/plugintest?pluginName='+pluginName+'&dirPath='+dirpath,
					orig_url : ''
					// , lang: 'ru'                    // language (OPTIONAL)
				});
				
				var blink = function() {
				    $('#blink-button').animate({
				        opacity: '0'
				    }, function(){
				        $(this).animate({
				            opacity: '1'
				        }, blink);
				    });
				}

				//blink();
			});
			
			
			
			
			
/*]]>*/
	</script>

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>