<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" th:src="@{/static/js/jquery-1.9.1.js}"></script>

<script type="text/javascript" th:src="@{/static/js/admin.js}"></script>

<script type="text/javascript" th:src="@{/static/js/jquery.dataTables.min.js}"></script>

<script type="text/javascript">

$(document).ready(function(){

   $('#plugins_table').DataTable();
   });
   
   </script>

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
	
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/jquery.dataTables.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />

<p>Plugin Root: <span th:text="${unknownPluginsRoot}"/> </p>
	

	<!-- 
Display plugins in tabular format
 -->

<h1> Plugins</h1>
<table id="plugins_table" class="plugins_list table-hover row-clickable" name= "table_1">
   <thead>

<tr>
			<th>Plugin Name</th>
			<th>Version Name(Code)</th>
			<th>State</th>
			<th>Delete</th>
		</tr>
		
		</thead>
		
		<tbody>
		<th:block th:each="plugin,idx : ${activePlugins}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:href="@{${plugin.viewUrl}}" th:utext="${plugin.pluginName}"/>          </td>
				<td><a th:href="@{${plugin.viewUrl}}" th:utext="${plugin.version}"/>        </td>
				<td><a th:href="@{${plugin.viewUrl}}" th:utext="${plugin.state}"/>       </td>
				<td><a th:href="@{${plugin.deleteUrl}}" 
				onclick="return confirm('This will delete any jobs/requests assosiated with this plugin.\nAre you sure?')">UNDEPLOY</a> </td>
			</tr>
					
		</th:block>
		</tbody>
	</table>
	
	
	
<h1>Staged Plugins</h1>
	
	
	<table class="plugins_list table-hover row-clickable" style="width: 100%">
		<tr>
			<th>Plugin Name</th>
			<th>Version Name(Code)</th>
			<th>State</th>
			<th>Git Pull</th>
		</tr>
		<tbody th:each="plugin,idx : ${stagedPlugins}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:href="@{${plugin.viewUrl}}"  th:utext="${plugin.pluginName}"/>          </td>
				<td><a th:href="@{${plugin.viewUrl}}"  th:utext="${plugin.version}"/>        </td>
				<td><a th:href="@{${plugin.viewUrl}}"  th:utext="${plugin.state}"/>       </td>
				<td><a th:href="@{'admin/plugin/gitpull/'+${plugin.pluginNameVersioned}}"  >Pull</a>       </td>
			</tr>		
		</tbody>
	</table>
	
	<h2>Unknown</h2>
	
	<table class="plugins_list table-hover row-clickable" style="width: 100%">
		<tr>
			<th>Directory Name</th>
		</tr>
		<tbody th:each="plugin,idx : ${unknownStagedFolders}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:utext="${plugin}"/>          </td>
			</tr>		
		</tbody>
	</table>
	
	
	<hr/>
	
	<h1>Discovered(Dropin) Plugins</h1>
	
	
	<table class="plugins_list table-hover row-clickable" style="width: 100%">
		<tr>
			<th>Plugin Name</th>
			<th>Version Name(Code)</th>
			<th>State</th>
		</tr>
		<tbody th:each="plugin,idx : ${discoveredPlugins}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:href="@{${plugin.viewUrl}}"  th:utext="${plugin.pluginName}"/>          </td>
				<td><a th:href="@{${plugin.viewUrl}}"  th:utext="${plugin.version}"/>        </td>
				<td><a th:href="@{${plugin.viewUrl}}"  th:utext="${plugin.state}"/>       </td>
			</tr>		
		</tbody>
	</table>
	
	<h2>Unknown</h2>
	
	<table class="plugins_list table-hover row-clickable" style="width: 100%">
		<tr>
			<th>Directory Name</th>
		</tr>
		<tbody th:each="plugin,idx : ${unknownDiscoveredPlugins}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:utext="${plugin}"/>          </td>
			</tr>		
		</tbody>
	</table>
	
	<hr/>
	
	<h1>Add Plugin</h1>
	
	<p> Clone a plugin from a remote or from a plugin folder on the server:</p>
	
<table>
  <tr>
    <th>Scheme</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>file://</td>
    <td>Installs a local KDCompute Plugin, which is the folder created by KDCPluginStudio</td>
    <td>file:///path/to/plugin/folder</td>
  </tr>
  <tr>
    <td>http://</td>
    <td>Install a KDCompute Plugin from a remote git repository with http</td>
    <td>http://git.diversityarrays.com/kdc2/myplugin.git</td>
  </tr>
  <tr>
    <td>https://</td>
    <td>Install a KDCompute Plugin from a remote git repository with https</td>
    <td>https://git.diversityarrays.com/kdc2/myplugin.git</td>
  </tr>
</table>
	
	<br/>
	
	<form action="#" th:action="@{'/admin/plugin/install'}"
		th:object="${pluginGit}" th:method="post" role="form">		
		<div><label> URI:<input type="text" name="url" th:field="*{gitUrl}" placeholder="file://, http://*.git, https://*.git"></input> </label></div>
		<div><label> Commit ID(Blank for latest):<input type="text" name="commitId" th:field="*{commitId}"></input> </label></div>
		<input type="checkbox" id="usingCreds" onclick="toggleCreds(this)" th:field="*{gitUsingCreds}" >Using authentication</input>
		 <div><label> User Name: <input  disabled="true" type="text" id="gitusername" name="username" th:field="*{gitUsername}"/> </label></div>
         <div><label> Password: <input  disabled="true" type="password" id="gitpassword" name="password" th:field="*{gitPassword}"/> </label></div>    
		<button type="submit" class="btn btn-default">Clone</button>
	</form>
	
	<!--  /yield -->

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>