<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdc_custom.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />


<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/jquery.dataTables.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css"
		th:href="@{/static/css/admin.css}" />
	<p>
		Plugin Root: <span th:text="${unknownPluginsRoot}" />
	</p>

	<!-- 
Display plugins in tabular format
 -->
	<table id="plugins_table"
		class="plugins_list table-hover row-clickable">
		<thead>
			<tr>
				<th>Plugin Name</th>
				<th>Version Name(Code)</th>
				<th>Check for Updates</th>
				<th>Undeploy</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="plugin,idx : ${activePlugins}">
				<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
					<td><a th:utext="${plugin.pluginName}" /></td>
					<td><a th:utext="${plugin.version}" /></td>
					<td><a th:href="@{${plugin.updateUrl}}">Update</a></td>
					<td><a th:href="@{${plugin.undeployUrl}}"
						onclick="return confirm('This will delete any jobs/requests assosiated with this plugin.\nAre you sure?')">UNDEPLOY</a>
					</td>
				</tr>

			</th:block>
		</tbody>
	</table>


	<br />
	<h1>Staged Plugins</h1>


	<table class="plugins_list table-hover row-clickable"
		style="width: 100%">
		<tr>
			<th>Plugin Name</th>
			<th>Version Name(Code)</th>
			<th>Delete</th>
			<th>Git Pull</th>
		</tr>
		<tbody th:each="plugin,idx : ${stagedPlugins}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:href="@{${plugin.deployUrl}}"
					th:utext="${plugin.pluginName}" /></td>
				<td><a th:href="@{${plugin.deployUrl}}"
					th:utext="${plugin.version}" /></td>
				<td><a th:href="@{${plugin.deleteUrl}}">Delete</a></td>
				<td><a th:href="@{${plugin.updateUrl}}">Pull</a></td>
			</tr>
		</tbody>
	</table>

	<h2>Unknown</h2>

	<table class="plugins_list table-hover row-clickable"
		style="width: 100%">
		<tr>
			<th>Directory Name</th>
		</tr>
		<tbody th:each="plugin,idx : ${unknownStagedFolders}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:utext="${plugin}" /></td>
			</tr>
		</tbody>
	</table>


	<hr />

	<h1>Discovered(Dropin) Plugins</h1>


	<table class="plugins_list table-hover row-clickable"
		style="width: 100%">
		<tr>
			<th>Plugin Name</th>
			<th>Version Name(Code)</th>
		</tr>
		<tbody th:each="plugin,idx : ${discoveredPlugins}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:href="@{${plugin.moveUrl}}"
					th:utext="${plugin.pluginName}" /></td>
				<td><a th:href="@{${plugin.moveUrl}}"
					th:utext="${plugin.version}" /></td>
			</tr>
		</tbody>
	</table>

	<h2>Unknown</h2>

	<table class="plugins_list table-hover row-clickable"
		style="width: 100%">
		<tr>
			<th>Directory Name</th>
		</tr>
		<tbody th:each="plugin,idx : ${unknownDiscoveredPlugins}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:utext="${plugin}" /></td>
			</tr>
		</tbody>
	</table>




	<div class="col-md-6">

		<div class="" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
				<li role="presentation" class="active"><a href="#tab_content1"
					id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Add
						Single Plugin</a></li>
<!-- 				<li role="presentation" class=""><a href="#tab_content2" -->
<!-- 					role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Add -->
<!-- 						Collection</a></li> -->

			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade active in"
					id="tab_content1" aria-labelledby="home-tab">
					<h1>Add Plugin</h1>

					<p>Clone a plugin from a remote or from a plugin folder on the
						server:</p>

					<table>
						<tr>
							<th>Scheme</th>
							<th>Description</th>
							<th>Example</th>
						</tr>
						<tr>
							<td>file://</td>
							<td>Installs a local KDCompute Plugin, which is the folder
								created by KDCPluginStudio</td>
							<td>file:///path/to/plugin/folder</td>
						</tr>
						<tr>
							<td>http://</td>
							<td>Install a KDCompute Plugin from a remote git repository
								with http</td>
							<td>http://git.diversityarrays.com/kdc2/myplugin.git</td>
						</tr>
						<tr>
							<td>https://</td>
							<td>Install a KDCompute Plugin from a remote git repository
								with https</td>
							<td>https://git.diversityarrays.com/kdc2/myplugin.git</td>
						</tr>
					</table>

					<br />

					<form action="#" th:action="@{'/admin/plugin/install'}"
						th:object="${pluginGit}" th:method="get" role="form">
						<div>
							<label> URI:<input type="text" name="url"
								th:field="*{gitUrl}"
								placeholder="file://, http://*.git, https://*.git"></input>
							</label>
						</div>
						<div>
							<label> Commit ID(Blank for latest):<input type="text"
								name="commitId" th:field="*{commitId}"></input>
							</label>
						</div>
						<input type="checkbox" id="usingCreds" onclick="toggleCreds(this)"
							th:field="*{gitUsingCreds}">Using authentication</input>
						<div>
							<label> User Name: <input disabled="true" type="text"
								id="gitusername" name="username" th:field="*{gitUsername}" />
							</label>
						</div>
						<div>
							<label> Password: <input disabled="true" type="password"
								id="gitpassword" name="password" th:field="*{gitPassword}" />
							</label>
						</div>
						<button type="submit" class="btn btn-default">Clone</button>
					</form>

				</div>
				<div role="tabpanel" class="tab-pane fade" id="tab_content2"
					aria-labelledby="profile-tab">
					<h1>Add Collection</h1>

					<p>Clone a plugin from a remote or from a plugin folder on the
						server:</p>

					<table>
						<tr>
							<th>Scheme</th>
							<th>Description</th>
							<th>Example</th>
						</tr>
						<tr>
							<td>file://</td>
							<td>Installs a local KDCompute Plugin, which is the folder
								created by KDCPluginStudio</td>
							<td>file:///path/to/plugin/folder</td>
						</tr>
						<tr>
							<td>http://</td>
							<td>Install a KDCompute Plugin from a remote git repository
								with http</td>
							<td>http://git.diversityarrays.com/kdc2/myplugin.git</td>
						</tr>
						<tr>
							<td>https://</td>
							<td>Install a KDCompute Plugin from a remote git repository
								with https</td>
							<td>https://git.diversityarrays.com/kdc2/myplugin.git</td>
						</tr>
					</table>

					<br />

					<form action="#" th:action="@{'/admin/plugin/install'}"
						th:object="${pluginGit}" th:method="get" role="form">
						<div>
							<label> URI:<input type="text" name="url"
								th:field="*{gitUrl}"
								placeholder="file://, http://*.git, https://*.git"></input>
							</label>
						</div>
						<div>
							<label> Commit ID(Blank for latest):<input type="text"
								name="commitId" th:field="*{commitId}"></input>
							</label>
						</div>
						<input type="checkbox" id="usingCreds" onclick="toggleCreds(this)"
							th:field="*{gitUsingCreds}">Using authentication</input>
						<div>
							<label> User Name: <input disabled="true" type="text"
								id="gitusername" name="username" th:field="*{gitUsername}" />
							</label>
						</div>
						<div>
							<label> Password: <input disabled="true" type="password"
								id="gitpassword" name="password" th:field="*{gitPassword}" />
							</label>
						</div>
						<button type="submit" class="btn btn-default">Clone</button>
					</form>

				</div>

			</div>
		</div>
	</div>

	<!--  /yield -->

	<script th:src="@{/static/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/custom.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/admin.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {

			$('#plugins_table').DataTable();
		});
	</script>




	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>