<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css"
		th:href="@{/static/css/adminplugin.css}" />

	<h1 th:if="${needsSudo}">SUDO execution required</h1>

	<p th:if="${needsSudo}">KDCompute has detected that this script
		requires SUDO privilege to install dependencies</p>
	<p>
		<font color="red"><b>MALICIOUS ANSIBLE SCRIPTS CAN CAUSE
				SEVERE DAMAGE TO YOUR SERVER</b></font>
	</p>
	<p>Please carefully review the following Ansible script:</p>

	<h3 th:text="${selectedScript}"></h3>
	<div style="display: block;" id="rulesformitem" class="formitem">
		<div class="textwrapper">
			<pre cols="2" th:each="e : ${script_rows}" readonly="true"
				class="rules" th:text="${e}">
			
			</pre>
		</div>
	</div>


<!-- 		th:action="@{'/admin/plugin/runAnsible/'+${pluginFolder}+'/'+${selectedScript}}" -->
	<form action="#"
		th:action="@{'/admin/plugin/runAnsible?pluginNameVersion='+${pluginNameVersion}+'&amp;selectedDependency='+${selectedScript}}"
		th:object="${ansibleCreds}" th:method="post" role="form">
		<div th:if="${needsSudo}">
			<label> Ansible Vault Secret Filepath:<input type="text"
				id="ansiblePath" onchange="checkAnsible()"
				th:field="*{ansibleVaultPath}" placeholder="/path/to/ansible/vault"></input>
			</label>
		</div>

		<div th:if="${needsSudo}">
			<label> Vault Password:<input type="password"
				id="ansiblePassword" onchange="checkAnsible()"
				th:field="*{ansibleVaultSecret}" placeholder="ansible vault secret"></input>
			</label>
		</div>

		<script th:inline="javascript">
			/*<![CDATA[*/
			function checkAnsible() {
				var ansiblePath = document.getElementById('ansiblePath').value;
				var ansiblePassword = document
						.getElementById('ansiblePassword').value;
				document.getElementById("ansibleSubmit").disabled = !ansiblePath
						.match(/\S/)
						|| !ansiblePassword.match(/\S/)
			}
			/*]]>*/
		</script>

		<input type="hidden" th:value="${ansibleCreds}" th:name="ansibleCreds"
			th:id="ansibleCreds"></input>
		<button type="submit" class="btn btn-default"  th:disabled="${needsSudo}" id="ansibleSubmit">Deploy</button>
	</form>

</body>
</html>