<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/deployplugin.css}" />
	

<title>Installing Plugin</title>
</head>
<body onload="document.frm1.submit()">

	<form action="#"
		th:action="@{'/admin/plugin/deploy?pluginNameVersion='+${pluginNameVersion}+'&amp;selectedDependency='+${selectedDependency}}"
		th:object="${ansibleCreds}" method="post" name="frm1" type="hidden"
		role="form">
		<input type="hidden" th:field="*{ansibleVaultPath}"
			th:value="${ansibleVaultPath}"></input> <input type="hidden"
			th:field="*{ansibleVaultSecret}" th:value="${ansibleVaultSecret}" />
	</form>


	<div  style="vertical-align: middle">
		<img class="mainDiv" th:src="@{/static/img/jobstate/refresh.gif}"
			style="display: block; margin-left: auto; margin-right: auto;"></img>
		<div class="mainDiv">
		<h1 >Installing Plugin</h1>
		<h3 >Please wait whilst KDCompute installs dependencies and runs tests...</h3>
		</div>
	</div>
</body>
</html>

