<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />
	<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/error.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />

</head>

<body>

	<div class="errorPage">
		<h1 class="oops">Oops!</h1>
		<br /> 
		<img th:src="@{/static/img/tubdown.png}" /> <br /> <span>
			There seems to be a problem with the page you requested (<span
			th:text="${path}"></span>)
		</span>
		<p th:text="${'HTTP Status: '+status}"></p>

		<h4>Details:</h4>
		<p th:text="${message}"></p>
		
		<h4>Exception Trace (<span th:text="${exception}" />):</h4>
		<p th:text="${trace}"></p>
	</div>

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>