<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>

	<h1 style="color: red;">An Error has occurred in KDCompute</h1>

	<p>An internal error has occurred. If this error persists, please report this to your
		system administrator</p>

	<h2>Exception Cause</h2>
	<p th:text="${cause}" />

	<h2>Exception Message</h2>
	<p th:text="${message}" />

	<h2>Exception Stack-trace</h2>
	<div th:each="s : ${stacktrace}">
		<span th:text="${s}" />
	</div>

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>