<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />

<!--<script th:src="@{/static/js/plugins.js}"></script> -->

<meta name="generator" content="Bootply" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description"
	content="Sliding menu from left to right with Bootstrap 3" />


<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="72x72"
	href="/bootstrap/img/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114"
	href="/bootstrap/img/apple-touch-icon-114x114.png" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/plugins.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/filemanager.css}" />

<!-- jQuery and jQuery UI (REQUIRED) -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.min.css}" />
<script th:src="@{webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-ui.min.js}"></script>

<!-- elFinder CSS (REQUIRED) -->
<link rel="stylesheet" type="text/css"
	th:href="@{webjars/elfinder/2.1.11/css/elfinder.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{webjars/elfinder/2.1.11/css/theme.css}" />

<!-- elFinder JS (REQUIRED) -->
<script th:src="@{webjars/elfinder/2.1.11/js/elfinder.min.js}"></script>


<!-- elFinder initialization (REQUIRED) -->
<script type="text/javascript" charset="utf-8">
			// Documentation for client options:
			// https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
			
			$(document).ready(function() {
				$('#elfinder').elfinder({
					url : 'elfinder-servlet/connector',
					uploadMaxSize: '100B'
				});
			});
		</script>
</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<div id="elfinder"></div>
	<div id="footer" th:replace="kdheadersfooters :: footer"></div>


</body>
</html>