<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<link rel="stylesheet" type="text/css" th:href="@{static/css/help.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>


	<div id="wrap">
		<div class="help-topics">
			<h2 id="login">Login</h2>
			<img class="screenshot" th:src="@{/static/img/help/loginpage.png}" />
			<p>KDCompute - The Login Window</p>
			<p>
				The first page you would see while using KDCompute, This is also the
				redirected page if you are not logged in <br /> To commence using
				KDCompute first login/authenticate a username and password is
				needed. Enter your Username and Password in the fields provided <br />
			</p>
		</div>

		<div class="help-topics">
			<h2 id="logout">Logout</h2>
			<p>Once finished in KDCompute select the Logout link on the main
				menu to log out of the session</p>
			<p>
				<strong>Note:</strong> Logging out from KDCompute will not disrupt
				any jobs you have running or scheduled.
			</p>
		</div>

		<div class="help-topics">
			<h2 id="home-panel">The Home Page</h2>
			<br /> <img class=" screenshot" th:src="@{/static/img/help/home.png}" />

			<p>The Home page, found as the first tab in the banner, provides
				a brief summary of the user's submitted jobs. Jobs are displayed in
				tabular format and color-coded by their state. The options field
				provides a link to the respective job's summary page.</p>


			<ul>
				<li>Displays user's submitted jobs</li>
				<li>Colors reflect job state</li>
				<li>Each job has a link to its summary page</li>
			</ul>
		</div>

		<div class="help-topics">
			<h2 id="file-manager">File Manager</h2>
			<p>
				Select File Manager in the top menu bar.<br /> The File manager
				provides operations to manage user files on the webserver. <br />
				The webserver is where the KDCompute application is hosted(i.e.
				lives) and performs the algorithms by users. <br /> Any files, input
				or output, required by an algorithm can be selected in the file
				manager from the user local directory<br />
			</p>

			<h3 id="checking_files">View Files in a Folder</h3>
			<img class="screenshot" th:src="@{/static/img/help/viewfiles.png}" />
			<p>For viewing files click on of the folder in the left panel and
				it will show you files of that folder on the right panel</p>
			<p>
				<b> **Please note you dont need to upload files for the Plugin
					using File Manager <br /> You will be given options to select a
					file while using a Plugin.**
				</b>
			</p>
		</div>

		<div class="help-topics">
			<h2>Plugins</h2>
			<div>
				<img th:src="@{/static/img/help/plugindesign.png}"
					class="screenshot " />

				<p>Plugins within KDCompute are wrappers to Algorithms.
					Algorithms can be a single executable, or a collection of
					executables written by a user which can be called on the command
					line.</p>
				<p>A common representation of an algorithm is a binary
					performing data analysis, data conversion and manipulation and data
					upload/download. Tasks of this nature are potentially long running
					and process intensive, especially when dealing with large data
					sets. This is the processing role KDCompute is designed to cater
					for.</p>
				<p>A 'Plugin Developer', wishing to deliver an user-friendly
					interface to his algorithm, develops a plugin for his algorithm
					extending support to users unconfortable to the command line.
					KDCompute provides an umbrella environment to control, execute and
					manage these algorithms for multiple users .</p>

				<h3 id="the-plugin-window">The Plugins Page</h3>
				<img th:src="@{/static/img/help/plugins.png}" class=" screenshot" />

				<h4>Plugin Selection</h4>
				<p>
					Click the desired <strong>Plugin Group</strong> on the left to see
					that group's set of plugins.
				</p>



				<p>Once expanded, click the desired plugin to load that Plugin's
					form.</p>

				<img th:src="@{/static/img/help/helloworld.png}" class=" screenshot" />

				<h5>Example: Helloworld Plugin</h5>

				<p>Yet another HelloWorld! example, but with a twist: You get to
					choose whom gets a greeting and how many times!</p>

				<p>This plugin has two 'Knobs':</p>
				<ul>

					<li>Tag: Text the program will replace when outputting 'Hello
						&lt;tag&gt;!'</li>
					<li>Count: The number of times the program will repeat the
						greeting</li>
				</ul>

				<h5>Filling the form</h5>

				<img th:src="@{/static/img/help/helloinvalid.png}"
					class=" screenshot" />

				<p>Through KDCompute, Plugin developers supported with
					validation mechanisms on their arguments. This ensures only valid
					inputs are passed into the developer's plugin</p>

				<p>As shown above, an invalid entry (Such as a single '-') will
					generate a validation message which the user must corrected.</p>

				<p>
					<strong>Only when the inputs are valid</strong> and all validation
					messages are clear <strong>can the user submit</strong> the job
				</p>

				<img th:src="@{/static/img/help/hellovalid.png}" class=" screenshot" />
			</div>
		</div>

		<h2>Job Summaries</h2>
		<img th:src="@{/static/img/help/hellosummary.png}" class=" screenshot" />
		<div>

			<p>After submission of a job, or accessed via the Home page,
				users will be presented with a results summary of the respective
				job.</p>

			<p>A results path indicates where the job's folder exists on the
				server/system, handy for navigating to manually as a Plugin
				Developer.</p>

			<p>Here is a localised filemanager showing generated output of
				the job</p>

		</div>
	</div>

	<!--  /yield -->

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>



