<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<script type="text/javascript" th:src="@{/static/js/jquery-1.9.1.js}"></script>


<script type="text/javascript"
	th:src="@{/static/js/jquery.dataTables.min.js}"></script>

<script th:inline="javascript" charset="utf-8">
/*<![CDATA[*/

	var now = [[${now}]];
	var idx = [[${nJobsTotal}]];
	
function httpGetAsync(theUrl, callback)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}

function updateRunStateForJob(jr,force) {
	var a = window.location.href;
	var context = a;
	var res = jr.split(",");
	var id = res[0];
	var idx= res[1];
	var url = context + "/runstate?jobid="+id;
	httpGetAsync(url,function(jobRunState){
		var state = "";
		
		var currState = document.getElementById(jr+",state").text;
		if(currState != jobRunState || force) {
			if( jobRunState=="ERASED" ){
				if(idx%2==0){ state = "erased_even"; }else{ state = "erased_odd"; }
			}else if( jobRunState=="FAILED" ){
				if(idx%2==0){ state = "failed_even"; }else{ state = "failed_odd"; }
			}else if( jobRunState=="COMPLETED" ){
				if(idx%2==0){ state = "completed_even"; }else{ state = "completed_odd"; }
			}else if( jobRunState=="RUNNING" ){
				if(idx%2==0){ state = "running_even"; }else{ state = "running_odd"; }
			}else if( jobRunState=="NEW" ){
				if(idx%2==0){ state = "new_even"; }else{ state = "new_odd"; }
			}else if( jobRunState=="CANCELLED" ){
				if(idx%2==0){ state = "cancelled_even"; }else{ state = "cancelled_odd"; }
			}else if( jobRunState=="PAUSED" ){
				if(idx%2==0){ state = "paused_even"; }else{ state = "paused_odd"; }
			}else {
				if(idx%2==0){ state = "unknown_even"; }else{ state = "unknown_odd"; }
				return;
			}
		
			var elemen = document.getElementById(jr);
			if(!force) {
				elemen.className = "job_row " + state + " blink";
			}else{
				elemen.className = "job_row " + state;
			}
			document.getElementById(jr+",state").text = jobRunState;
		}
	});	
}

window.onload = function() {
    var image = document.getElementById("jobstateimg");			    			    			    
    function updateRunState() {
    	var jobrows = document.getElementsByClassName("job_row");
    	var jobrowslength = jobrows.length;
   		for (var i = 0; i < jobrowslength; i++) {
   			updateRunStateForJob(jobrows[i].id,false);
    	}
   		
   		
   		var elements = document.getElementsByClassName('job_row');
   		var requiredElement = elements[0];
   		



		var a = window.location.href;
	   	var context = a.substring(0,a.indexOf('?'));	
		var url = context + "/home/getnewjobs?jobDateLower="+now;
		
		var current
		
		httpGetAsync(url,function(newjobs){
			try {
				var pack  = JSON.parse( newjobs );
				var next = pack.first;
				var njl = pack.second;
				var njllen = njl.length;
				
				for(var i=0;i<njllen;i++){
					var nj = njl[i];
					var nj_id = nj.id;
					var nj_view_url = nj.view_url;
					var nj_state = "NEW";
					 var html = '<tr class="job_row" id="'+nj_id+','+idx+'">' +	'<td><a href="'+nj_view_url+'" />'+nj_id+'</td>' +	'<td><a href="'+nj_view_url+'" />'+nj.user+'</td>' + '<td><a href="'+nj.view_url+'"  id="'+nj.id+','+idx+',state"  />'+nj_state+'</td>' + '<td><a href="'+nj.view_url+'" />'+nj.started+'</td>' + '</tr>' ;
					 idx = idx + 1;		
	
					requiredElement.insertAdjacentHTML('beforebegin',html);
				}
				now = next;
			}catch(ignore){
				
			}
	    })
    }
    var jobrows = document.getElementsByClassName("job_row");
	var jobrowslength = jobrows.length;
		for (var i = 0; i < jobrowslength; i++) {
			updateRunStateForJob(jobrows[i].id,true);
	}
    setInterval(updateRunState, 2000);
}		
		    
/*]]>*/
</script>

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/jquery.dataTables.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />
<script type="text/javascript" th:src="@{/static/js/jobquery.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/jobquery.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/home.css}" />

</head>

<body class="nav-md">
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->

	<!-- 
Display Jobs in tabular format
 -->

	<!-- Database Query panel -->
	<div style="float: right;">
		<form action="#" th:action="@{/home}" th:object="${jobdbquery}"
			method="post">
			<input type="submit" value="Get Jobs" style="width: 100px;" />
			<h3>
				Search Job Database <a th:href="@{/home}" class="button">(reset)</a>
			</h3>

			Tag contains:<input type="text" th:field="*{jobTag}"
				th:value="${jobdbquery.jobTag}"></input><br /> Job ID range:<input
				type="number" th:field="*{jobIdLower}" min="0"
				th:value="${jobdbquery.jobIdLower}" /> to <input type="number"
				class="mydate" th:field="*{jobIdUpper}" min="0"
				th:value="${jobdbquery.jobIdUpper}" /><br /> Date: <input
				type="date" class="mydate" th:field="*{jobDateLower}"
				placeholder="dd/mm/yyyy" th:value="${jobdbquery.jobDateLower}" />
			to <input type="date" th:field="*{jobDateUpper}"
				placeholder="dd/mm/yyyy" th:value="${jobdbquery.jobDateUpper}" /> <br />
			Count:<input type="number" th:field="*{jobCount}"
				th:value="${jobdbquery.jobCount}"></input><br />
		</form>
	</div>
	<div>
		<div class="jobinfo" th:switch="${nJobsRetrieved}" th:inline="text">
			<span th:case="1"> Showing [[${nJobsRetrieved}]] job of
				[[${nJobsTotal}]]</span> <span th:case="*"> Showing
				[[${nJobsRetrieved}]] jobs of [[${nJobsTotal}]]</span>
		</div>
	</div>



	<br />

	<table id="home_table" class="jobs_list table-hover row-clickable"
		style="width: 100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Algorithm</th>
				<th>Status</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="job,idx : ${jobs}">
				<tr class="job_row" th:id="${job.id}+','+${idx.index}">
					<td><a th:href="@{${job.view_url}}" th:utext="${job.id}" /></td>
					<td><a th:href="@{${job.view_url}}" th:utext="${job.user}" />
					</td>
					<td><a th:id="${job.id}+','+${idx.index}+',state'"
						th:href="@{${job.view_url}}" th:utext="${job.state}" /></td>
					<td><a th:href="@{${job.view_url}}" th:utext="${job.started}" />
					</td>
				</tr>
			</th:block>
		</tbody>
	</table>

	<!--  /yield -->

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>