<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />


</head>

<body>
	<div th:replace="kdheadersfooters :: header"> </div>

	<!-- yield	 -->

	<link rel="stylesheet" type="text/css"
		th:href="@{/static/css/invalidaction.css}" />
	
	<h1>Invalid!</h1>
	<p data-th-text="${errmsg}"/>
	
	<!--  /yield -->

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>