<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/algorithmform.css}" />
<head>

<meta charset="UTF-8" />

<script type="text/javascript"
	th:src="js/jquery-1.9.1.js">
</script>

<script type="text/javascript" th:src="@{js/findvalidation.js}"></script>

</head>
<body>
	<div id="jobrow" th:fragment="jobrows(job)">
		<td th:text="${job.id}"></td>
		<td th:text="${job.user}"></td>
		<td th:text="${job.state}"></td>
		<td th:text="${job.started}"></td>
		<td><a th:href="@{${job.view_url}}">View</a></td>
	</div>
</body>
</html>