<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/jobsummary.css}" />

<!-- 
	ELFinder components
	 -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui-themes/1.11.4/smoothness/jquery-ui.min.css}" />
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"
	type="text/javascript"></script>
<script th:src="@{/static/js/jquery-ui.min.js}"></script>
<!-- elFinder initialization (REQUIRED) -->
<script th:inline="javascript" charset="utf-8">
/*<![CDATA[*/

			var jobStartDate = null;		
			var jobEndDate  = null;
			var currDate = null;


			function msToTime(duration) {
			    var milliseconds = parseInt((duration%1000)/100)
			        , seconds = parseInt((duration/1000)%60)
			        , minutes = parseInt((duration/(1000*60))%60)
			        , hours = parseInt((duration/(1000*60*60))%24);

			    hours = (hours < 10) ? "0" + hours : hours;
			    minutes = (minutes < 10) ? "0" + minutes : minutes;
			    seconds = (seconds < 10) ? "0" + seconds : seconds;

			    return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
			}
			window.onload = function() {
			    var image = document.getElementById("jobstateimg");
			    function updateImage() {
			    	var a = window.location.href;
			    	var context = a.substring(0,a.indexOf('?'));			    	
					var id = [[${jobid}]];
					var url = context + "/jobstateimg?jobid="+id;
					httpGetAsync(url,function(resp){
							 var image = document.getElementById("jobstateimg");
							 var imgsrcend = image.src.substring(image.src.lastIndexOf('/')+1);
							 var respend = resp.substring(resp.lastIndexOf('/')+1);
							 if(resp!="" && imgsrcend != respend) {
					    		 image.src = resp;
					    		 var url = context +  "/jobstatemsg?jobid="+id;
								 httpGetAsync(url,function(resp){
								  	var msg = document.getElementById("jobstatemsg");
								  	msg.innerHTML = resp;
								 });
								 document.getElementById('refreshenable').style.visibility = 'visible';
							}
					});
					
					var url = context + "/jobend?jobid="+id;
					httpGetAsync(url,function(resp){
						jobEndDate = resp;
					});
					
					var url = context + "/jobstart?jobid="+id;
					httpGetAsync(url,function(resp){
						jobStartDate = resp;
					});
					
					var url = context + "/currDate";
					httpGetAsync(url,function(resp){
						currDate = resp;
					});
					
					var url = context + "/jobrunstate?jobid="+id;
					httpGetAsync(url,function(jobRunState){
						var buttonid = "canceljob";
						var button = document.getElementById(buttonid);
						if( jobRunState=="RUNNING" || jobRunState=="PAUSED" || jobRunState=="NEW"){
							button.style.display = "block";	
						}else{
							button.style.display = "none";
						}
					});
					
					var time = "Unknown Run Time";
					if(jobStartDate != null){
						if((jobEndDate==null || jobEndDate == "") && currDate != null){
							var diff = (currDate - jobStartDate); //milliseconds interval
							time = "Current run time: " + msToTime(diff);
						}else{
							var diff = (jobEndDate - jobStartDate); //milliseconds interval
							time = "Total run time: " + msToTime(diff);
						}
					}
					document.getElementById("jobduration").innerHTML = time;
			    }
			    setInterval(updateImage, 2000);
			}		
		    function httpGetAsync(theUrl, callback)
		    {
		        var xmlHttp = new XMLHttpRequest();
		        xmlHttp.onreadystatechange = function() { 
		            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		                callback(xmlHttp.responseText);
		        }
		        xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		        xmlHttp.send(null);
		    }
			
		    function cancel(){
		    	var id = [[${jobid}]];
		    	var a = window.location.href;
		    	var context = a.substring(0,a.indexOf('?'));
		    	var url = context + "/jobcancel?jobid="+id;
				httpGetAsync(url,function(resp){
					var buttonid = "canceljob";
					var button = document.getElementById(buttonid);
					button.innerHTML = resp;
					button.disabled = true;
					button.classList.remove("cancelbutton");
					button.classList.add("jobcancelexec");
				});								 
		    }
			    
/*]]>*/
</script>
</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->


	<div id="body">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet"
			href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

		<script th:src="@{/static/js/jobsummary.js}" />
		<!-- 
	Display jobs summary
 -->
		<div class="refreshmsg">
			<a href="javascript:window.location.reload(true)"> <img
				class="jobstateimg" id="jobstateimg" th:src="@{${jobstateimg}}"
				title="Click to update this job summary" />
			</a>
		</div>
		<div class="refreshmsg">
			<div style="white-space: nowrap;" id="jobduration">Retrieving
				duration...</div>
		</div>

		<div class="refreshmsg">
			<a href="javascript:window.location.reload(true)">
				<p th:text="${jobStateMsg}" id="jobstatemsg"></p>
			</a>
		</div>
		<div class="refreshmsg" id="refreshenable" style="visibility: hidden;">
			<a href="javascript:window.location.reload(true)"> <span
				class="blink_text">Job State Changed. Click here to refresh</span>
			</a>
		</div>

		<button onclick="cancel()" class="dropbtn cancelbutton" type="button"
			id="canceljob" style="display: none;">Cancel Job</button>
		<div class="refreshmsg">

			<div style=" border: 1px solid; border-radius: 5px; padding: 25px;">
				<img class="noexistimg" id="noexistimg"
					th:src="@{/static/img/kdctrash.png}" height="20%" width="20%" />
				<h3>The contents of this job have been deleted</h3>
				<h4>Sorry about that!</h4>
			</div>
		</div>
	</div>
	<!--  /yield -->
	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>