<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />

<div class="menu" id="kdcompute_menu" th:fragment="header">
	<table>
		<tr>
			<a th:href="@{/home}"><img class="kdcompute_with_text_image"
				th:src="@{/static/img/KDCompute_with_text.png}" alt="Thymeleaf logo" /></a>
		</tr>


		<tr>
			<form class="logout" th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</tr>

		<tr th:each="headerbutton : ${additionalHeaderButtons}">
			<form
				th:if="${headerbutton.class.name == 'com.diversityarrays.kdcompute.headerfooter.DropdownKDCHeaderButton'}">
				<select class="select" name="myselect" id="myselect"
					onchange="if (this.value) window.location.href=this.value">
					<option th:text="'Current Group: '+${headerbutton.label}"></option>
					<option th:each="opt : ${headerbutton.options}" 
						th:text="${opt.getFirst()}"
						th:value="@{${headerbutton.getRedirectURL()}}+'?opt='+${opt.getSecond()}"></option>
				</select>
			</form>
		</tr>

	</table>
	<br />
	<table>
		<tr>
			<div class="portraitoutside">
				<div class="portraitinside"></div>
				<div th:if="${picture != null}" class="users_login_name_with_pic">
					<p th:id="usersName" th:text="${userName}">LoginUser Name</p>
				</div>
				<div th:if="${picture == null}" class="users_login_name">
					<p th:id="usersName" th:text="${userName}">LoginUser Name</p>
				</div>
				<img th:if="${picture != null}" th:src="${picture}"
					class="portraitinside" />
			</div>

			<nav class="main-menu-panel">
				<ul>
					<li><a th:class="${home_tab_active}" id="home"
						th:href="@{/home}">Home</a></li>
					<li><a th:class="${filemanager_tab_active}" id="/filemanager"
						th:href="@{/filemanager}">File Manager</a></li>
					<li><a th:class="${plugins_tab_active}" id="plugins"
						th:href="@{/plugins}">Plugins</a></li>
					<li><a th:class="${help_tab_active}" id="dev"
						th:href="@{/help}">Help</a></li>
					<li><a th:class="${misc_tab_active}" id="misc"
						th:href="@{/misc}">Misc</a></li>
					<li><a th:if="${user_is_admin}" th:class="${admin_tab_active}"
						id="admin" th:href="@{/admin}">Admin</a></li>
				</ul>
			</nav>
		</tr>
	</table>
</div>

<div class="footer" id="kdcompute_footer" th:fragment="footer">
	<footer>
		<p style="color: #0d3c65">
			<strong>Version <b th:id="kdcVersion"
				th:text="${kdcVersion}" /> <br />&copy; Diversity Arrays
				Technology 2017
			</strong>
		</p>
	</footer>
</div>
</html>