<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<!--  Look for - http://www.thymeleaf.org/doc/articles/layouts.html -->
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/login.css}" />

</head>
<body>

	<header id="login_header">
		<img class="header-logo"
			th:src="@{/static/img/KDCompute_with_text_login.png}" /> <br />
		<div class="help">
			<a th:href="@{/help}" >Help</a>
		</div>
	</header>

	<div id="login_form_div" class="login-form">
	
	
		<form id="login_form" th:action="@{/login}" method="post">
		<label id="username"> Your name:&nbsp;<input type="text"
				name="username" value="kdcuser" />
			</label> 
			<input type="password" name="password" value="" hidden="true" /> 
			<br/>
			<br/>
			
			<div>
				<input id="btn_submit" type="submit" value="Start" />
			</div>
		</form>
	</div>

	<form id="login_form" th:action="@{/login}" method="post">
		<div class="login_form_div">
			
		</div>
	</form>

	<div th:replace="kdheadersfooters :: footer"></div>

</body>
</html>