<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/portal.css}" />

<!--  Look for - http://www.thymeleaf.org/doc/articles/layouts.html -->
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/login.css}" />

</head>
<body>

	<header id="login_header">


		<img class="header-logo"
			th:src="@{/static/img/KDCompute_with_text_login.png}" /> <br />
		<div th:if="${registrationEnabled}" class="register">
			<a th:href="@{/register}">Register</a>
		</div>

		<div class="help">
			<a th:href="@{/help}" >Help</a>
		</div>
	</header>


	<div class="login-msg">
		<p th:text="${msg}"></p>
	</div>
	<div id="login_msg" class="login-msg" th:if="${param.error}">Invalid
		username and/or password.</div>
	<div id="login_logout_msg" class="login-msg" th:if="${param.logout}">You
		have been logged out.</div>
	<div id="login_form_div" class="login-form">
		<div class="container logosdiv" ng-show="!home.authenticated">
			<a th:if="${googleBeanDefined}" th:href="@{/login/google}"
				class="logo"><img th:src="@{/static/img/google.png}"
				title="Login with Google" /></a> <a th:if="${facebookBeanDefined}"
				th:href="@{/login/facebook}" class="logo"><img
				th:src="@{/static/img/facebook.png}" title="Login with Facebook" /></a>
			<a th:if="${githubBeanDefined}" th:href="@{/login/github}"
				class="logo"><img th:src="@{/static/img/github.png}"
				title="Login with Github" /></a><br />
			<div th:if="${ldapBeanDefined}">
				<form th:action="@{/login}" method="post" class="ldap">
					<div th:if="${!ldapSourceName.isEmpty()}">
						<h5 th:text="${ldapSourceName}" class="ldapTitle"></h5>
					</div>

					<img th:if="${ldapSourceImage != null} "
						th:src="${ldapSourceImage}" class="ldapImage" /> <br /> <input
						type="text" name="username" placeholder="username" /> <br /> <input
						type="password" placeholder="password" name="password" /> <br />
					<input class="submit" type="submit" value="Sign In" />
				</form>
			</div>
			<div th:if="${!ldapBeanDefined}">
				<form id="login_form" th:action="@{/login}" method="post">
					<div>
						<label id="username"> Username:&nbsp;<input type="text"
							name="username" th:value="${username}" autofocus="autofocus" />
						</label>
					</div>
					<div>
						<label id="password"> Password:&nbsp;<input
							type="password" name="password" th:value="${password}" />
						</label>
					</div>
					<div>
						<input id="btn_submit" type="submit" value="Sign In" class="btn_submit_right"/>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="kdheadersfooters :: footer"></div>

</body>
</html>