<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<!--  Look for - http://www.thymeleaf.org/doc/articles/layouts.html -->
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/loginnone.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/login.css}" />


</head>
<body>

	<header id="login_header">
		<img class="header-logo"
			th:src="@{/static/img/KDCompute_with_text_login.png}" /> <br />
		<div class="help">
			<a th:href="@{/help}" >Help</a>
		</div>
	</header>

	<div id="login_form_div" class="login-form">
		<div class="login-msg">
			<p th:text="${msg}"></p>
		</div>

		<form id="login_form" th:action="@{/login}" method="post">
			<div>
				<input id="btn_submit" type="submit" value="Open my KDCompute"
					class="btn_submit_center" />
			</div>
		</form>
	</div>

	<form id="login_form" th:action="@{/login}" method="post">
		<div class="login_form_div"></div>
	</form>

	<div th:replace="kdheadersfooters :: footer"></div>

</body>
</html>