<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdc_custom.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<meta name="generator" content="Bootply" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description"
	content="Sliding menu from left to right with Bootstrap 3" />
<link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="72x72"
	href="/bootstrap/img/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114"
	href="/bootstrap/img/apple-touch-icon-114x114.png" />
</head>

<!-- HTML code from Bootply.com editor -->
<body class="nav-md">
	<div th:replace="kdheadersfooters :: header"></div>
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<!-- sidebar menu -->
					<div id="sidebar-menu"
						class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<div id="accordianpanel">
								<section>
									<div id="plugins_listview" data-role="main" class="ui-content">
										<ul class="nav side-menu">
											<li th:each="pluginsGroup:${pluginGroups}"><a
												th:inline="text"> [[${pluginsGroup.groupName}]]<span
													class="fa fa-chevron-down"></span>
											</a>
												<ul class="nav child_menu">
													<li th:each="plugin: ${pluginsGroup.plugins}"><a
														th:if="${plugin.hasMultipleVersions}" th:id="${plugin.id}"
														th:inline="text">[[${plugin.algorithmName}]]<span
															class="fa fa-chevron-down"></span></a> <a
														th:if="${!plugin.hasMultipleVersions}"
														th:id="${plugin.id}" th:inline="text">[[${plugin.algorithmName}]]</a>
														<ul class="nav child_menu">
															<li th:if="${plugin.hasMultipleVersions}"
																class="sub_menu" th:each="version: ${plugin.versions}">
																<a th:id="${version.id}"
																th:text="'Version '+${version.getVersion()}"></a>
															</li>
														</ul></li>
												</ul></li>
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pluginFormArea right_col" role="main">
				<div class="algorithmWindow">
					<div class="page-title">
						<div class="title_left">
							<h4 class="plugin_nameInput">Select a plugin on the left</h4>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="" role="tabpanel" data-example-id="togglable-tabs"
							id="tab_ui">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
								<li role="presentation" class="active"><a
									href="#tab_content1" id="home-tab" role="tab" data-toggle="tab"
									aria-expanded="true">Plugin Inputs</a></li>
								<li role="presentation" class=""><a href="#tab_content2"
									role="tab" id="profile-tab" data-toggle="tab"
									aria-expanded="false">Documentation</a></li>
							</ul>
							<div class="algorithmHelp">
								<div id="myTabContent" class="tab-content ">
									<div role="tabpanel" class="tab-pane fade active in"
										id="tab_content1" aria-labelledby="home-tab">
										<div class="algorithm_content" id="algorithm_content"></div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="tab_content2"
										aria-labelledby="profile-tab">
										<div id="includedContent"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JavaScript jQuery code from Bootply.com editor  -->
	<script th:src="@{/static/js/jquery.min.js}"></script>
	<script th:src="@{/static/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/js/custom.js}"></script>
	<script th:src="@{/static/js/plugins/algorithmform.js}"></script>
	<script th:src="@{/static/js/plugins.js}"></script>
	<script th:src="@{/static/js/tabs.js}"></script>

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>