<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<script th:src="@{/static/js/jquery-1.11.3.js}"></script>
<script th:src="@{/static/js/plugin.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/plugins.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/sidebar.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<script th:src="@{/static/js/plugins/algorithmform.js}"></script>
<script th:src="@{/static/js/plugins.js}"></script>

<meta name="generator" content="Bootply" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description"
	content="Sliding menu from left to right with Bootstrap 3" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"
	rel="stylesheet" />

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="72x72"
	href="/bootstrap/img/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114"
	href="/bootstrap/img/apple-touch-icon-114x114.png" />
<link
	href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"
	type="text/css" rel="stylesheet" />

<!-- CSS code from Bootply.com editor -->


</head>

<!-- HTML code from Bootply.com editor -->

<body>

	<div th:replace="kdheadersfooters :: header"></div>

	<div>
		<div id="accordianpanel">
			<div id="accordianpanelCaller">Plugins</div>
			<section>
				<div id="plugins_listview" data-role="main" class="ui-content">
					<div th:each="pluginsGroup:${pluginGroups}">
						<button th:class="accordion" th:text="${pluginsGroup.groupName}"></button>
						<div th:class="panel">
							<ul class="listview" th:each="plugin: ${pluginsGroup.plugins}">
								<li><a th:if="${plugin.hasMultipleVersions}"
									class="listitems aleft" th:id="${plugin.id}"
									th:text="${plugin.algorithmName}"></a> <a
									th:if="${!plugin.hasMultipleVersions}" class="listitems"
									th:id="${plugin.id}" th:text="${plugin.algorithmName}"></a>
									<button th:if="${plugin.hasMultipleVersions}"
										th:class="accordionVersion" class="aright"
										th:id="${plugin.id}">+</button>
									<div th:class="panel">
										<ul class="listview" th:each="version: ${plugin.versions}">
											<li><a class="listitems" th:id="${version.id}"
												th:text="'Version '+${version.versionNumber}"></a></li>
										</ul>
									</div></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- CORPS -->
		<div id="main" class="viewport">
			<div class="frame">
				<div id="corp" class="corp">
					<div class="wrapper">
						<div id="one">
							<div class="algorithm_content" id="algorithm_content"></div>
						</div>
						<div id="two">
							<div id="includedContent"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript'
			src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<script type='text/javascript'
			src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

		<!-- JavaScript jQuery code from Bootply.com editor  -->
	</div>
	<div th:replace="kdheadersfooters :: footer"></div>
	<script th:src="@{/static/js/plugins.js}" type="text/javascript"></script>
</body>
</html>