<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />
<script type="text/javascript" th:src="@{/static/js/admin.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />
</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />

	<h1>Pull Plugin</h1>
	
	<form action="#" th:action="@{/admin/plugin/install}"
		th:object="${pluginGit}" th:method="post" role="form">		
		<div><label> URI:<input type="text" th:value="${pluginGit.gitUrl}" name="pluginName" th:field="*{gitUrl}" 
		readonly="true" ></input> </label></div>
		<div><label> Commit ID(Blank for latest):<input type="text" name="commitId" th:field="*{commitId}"></input> </label></div>
		<input type="checkbox" id="usingCreds" onclick="toggleCreds(this)" th:field="*{gitUsingCreds}" >Using authentication</input>
		 <div><label> User Name: <input  disabled="true" type="text" id="gitusername" name="username" th:field="*{gitUsername}"/> </label></div>
         <div><label> Password: <input  disabled="true" type="password" id="gitpassword" name="password" th:field="*{gitPassword}"/> </label></div>    
		<button type="submit" class="btn btn-default">Clone</button>
	</form>
	
	<!--  /yield -->

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>