<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<!--  Look for - http://www.thymeleaf.org/doc/articles/layouts.html -->
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/register.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/login.css}" />


<script th:src="@{/static/js/register.js}"></script>

</head>
<body>

	<header id="login_header">
		<img class="header-logo"
			th:src="@{/static/img/KDCompute_with_text_login.png}" /> <br />

		<div class="help">
			<a th:href="@{/help.html}" target="_blank">Help</a>
		</div>
	</header>



	<center>
		<div class="testbox">
			<h1>Registration</h1>

			<form action="#" th:action="@{'/register'}" th:object="${register}"
				th:method="post" role="form">
				<label id="icon" for="name"> <i class="icon-user"></i>
				</label> <input type="text" name="name" id="name" placeholder="Username"
					required="true" th:field="*{userName}" autofocus="autofocus" /> <br />
				<label id="icon" for="name"> <i class="icon-shield"></i>
				</label> <input type="password" name="name" id="password1"
					placeholder="Password" required="true" th:field="*{pass}"
					onkeyup="validate()" /> <br /> <label id="icon" for="name">
					<i class="icon-shield"></i>
				</label> <input type="password" id="password2"
					placeholder="Password(Repeat)" required="true"
					th:field="*{passRepeat}" onkeyup="validate()" />
				<p id="validate_status" style="color: red;"></p>
				<br />
				<div>
					<input id="btn_submit" type="submit" value="Register"
						class="btn_submit" />
				</div>
			</form>
		</div>
	</center>

</body>
</html>