<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/deployplugin.css}" />

<title>Retrieving Plugin</title>
</head>
<body onload="document.frm1.submit()">

	<form action="#" th:action="@{/admin/plugin/installplugin}"
		th:object="${pluginGit}" method="post" name="frm1" type="hidden"
		role="form">
		<input type="hidden" name="commitId" th:field="*{commitId}"
			th:value="${commitId}"></input> <input type="hidden" id="gitusername"
			name="username" th:field="*{gitUsername}" th:value="${gitUsername}" />
		<input type="hidden" id="gitpassword" name="password"
			th:field="*{gitPassword}" th:value="${gitPassword}" /> <input
			type="hidden" name="url" th:field="*{gitUrl}" th:value="${gitUrl}"></input>
		<input type="hidden" id="usingCreds" th:field="*{gitUsingCreds}"
			th:value="${gitUsingCreds}"></input>
	</form>


	<div  style="vertical-align: middle">
		<img class="mainDiv" th:src="@{${schemeImg}}" alt="Retrieving Plugin..."
			style="display: block; margin-left: auto; margin-right: auto;"></img>
		<h1 th:text="${schemeMsg}" />
	</div>
</body>
</html>