<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />


</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css"
		th:href="@{/static/css/admin.css}" />


	<!-- 
Display plugins in tabular format
 -->

	<h1>Select Dependencies script</h1>

	<p th:utext="${pluginName}" />
	<p th:utext="${plugindir}" />

	<div>
		<form action="#" th:action="@{'/admin/plugin/selectDependency?pluginNameVersion='+${pluginNameVersion}}"
			th:object="${selectedDep}" th:method="post" role="form">
			<label for="type">Choose Platform:</label><br/> <select id="script"
				multiple="multiple" name="script">
				<option th:each="dep : ${dependencies}"
					th:value="${dep.getName()}" th:text="${dep.getName()}"
					></option>
			</select> <br /> 
			<input type="hidden" th:value="${pluginName}"
				th:name="pluginName" th:id="pluginName"></input>
			<button id="submitBtn" type="submit" class="btn btn-default" >Deploy</button>
			<a th:href="@{'/admin/plugin/runAnsible/nodep?pluginNameVersion='+${pluginNameVersion}}" >skip</a>
		</form>
	</div>
	<script>
	document.getElementById("submitBtn").disabled = true;
	document.getElementById('script').onchange = function() {
		document.getElementById('submitBtn').disabled = false;
		
	};
	</script>
	<!--  /yield -->

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>