
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

 <link rel="stylesheet" type="text/css"
        th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" /> 
<link rel="stylesheet" type="text/css"
        th:href="@{/static/css/custom.css}" /> 
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/jquery-ui.css}" />




<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdc_custom.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />


</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />


	<!-- 
    Display plugins in tabular format
     -->

	<h1>Select Collection Dependencies script</h1>

	<p th:utext="${pluginGroupName}" />
	<p th:utext="${pluginGroupDir}" />
    
    

	<form id ="script_section" action="#" th:action="@{'/admin/collection/deploy/'+${collectionFolder}}" th:object="${collectionDep}" method="post" role="form">
	     
	     <div class="col-md-55" th:each="entry, selstart: ${pluginDeps}">
	       <div class="thumbnail">
	       <div class="image view view-first">
		<select multiple="multiple"  th:field="*{pluginNames[__${selstart.index}__]}">
			<option th:each="e, row: ${entry.value}"
				th:text="${e.getName()}" th:value="${entry.key} + '#' + ${e.getName()} " th:name="${entry.key}" ></option>
		</select>  </div>
             <div class="caption">
                            <p th:text="${entry.key}">plugin</p>
                          </div>
             
             </div>
		</div>
        
        <div style="display: none">
          <select  th:each="plugin, selstart : ${pluginDeps}" th:field="*{collectionPlugins[__${selstart.index}__]}">
			<option selected="selected" th:text="${plugin.key}" th:value= "${plugin.key}"></option>
		</select>
</div>     
        
        <div id="ansible_input" style="display: none">
				<h1>SUDO execution required</h1>

				<p>KDCompute has detected that this script/scripts requires SUDO
					privilege to install dependencies</p>
				<p>
					<font color="red"><b>MALICIOUS ANSIBLE SCRIPTS CAN CAUSE
							SEVERE DAMAGE TO YOUR SERVER</b></font>
				</p>
				<p>Please carefully review the following Ansible script:</p>


				<label> Ansible Vault Secret Filepath:<input type="text"
					id="ansiblePath" onchange="checkAnsible()"
					placeholder="/path/to/ansible/vault" th:field="*{ansibleVaultPath}"></input>
				</label> 
             <label> Vault Password:<input type="password"
					id="ansiblePassword" onchange="checkAnsible()"
					placeholder="ansible vault secret" th:field="*{ansibleVaultSecret}"></input>
				</label>
			</div>


			<button type="submit" class="btn btn-default" id="ansibleSubmit">Deploy</button>
		
            
        </form>
    


	<div class="col-md-6 listTab">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h4 class="plugin_nameInput">Deploy Dependencies</h4>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div style="display: none" id="hiddenTabs">
					<div th:each="entry: ${smokeTest}" class="repDiv"
						th:label="${entry.key}">

						<p cols="2" readonly="true" class="rules"
							th:each="e: ${entry.value}" th:text="${e}"></p>
					</div>
				</div>


			<!--	<div style="display: none" id="hiddenMain">



					<p cols="2" th:each="e : ${script_rows}" readonly="true"
						class="rules" th:text="${e}"></p>
				</div> -->


				<div id="tabs">
					<ul id="listDisplay">

					</ul>



					<div id="tab-content"></div>
				</div>


			</div>
		</div>

		

	<!--	<form action="#"
			th:action="@{'/admin/collection/runAnsible/'+${collectionFolder}+'/'+${collectionDep}}"
			th:method="post" role="form">

			<div id="ansible_input" style="display: none">
				<h1>SUDO execution required</h1>

				<p>KDCompute has detected that this script/scripts requires SUDO
					privilege to install dependencies</p>
				<p>
					<font color="red"><b>MALICIOUS ANSIBLE SCRIPTS CAN CAUSE
							SEVERE DAMAGE TO YOUR SERVER</b></font>
				</p>
				<p>Please carefully review the following Ansible script:</p>


				<label> Ansible Vault Secret Filepath:<input type="text"
					id="ansiblePath" onchange="checkAnsible()"
					placeholder="/path/to/ansible/vault"></input>
				</label> <label> Vault Password:<input type="password"
					id="ansiblePassword" onchange="checkAnsible()"
					placeholder="ansible vault secret"></input>
				</label>
			</div>


			<button type="submit" class="btn btn-default" id="ansibleSubmit">Deploy</button>
		</form>  -->





	</div>


	<script th:src="@{/static/js/jquery.min.js}"></script>
	<script th:src="@{/static/js/jquery-ui.js}"></script>

	<script th:src="@{/static/js/bootstrap.min.js}"></script>

	<script th:src="@{/static/js/custom.min.js}"></script>
	<script th:src="@{/static/js/tabs.js}"></script>



	<!--  /yield -->

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>