<tr id="knobfragment">
	<td> <%=TITLE%> </td>
	<td>
		<div id="kdcompute_text_datatype" name="<%=ID%>">
			<input type="text" id="<%=ID%>" name="<%=ID%>"
				oninput="assignChangeListener('<%=ID%>');" class="knobE"
				value="<%=DEFAULT%>"> <span
				id="warning<%=ID%>"></span>
		</div>
	</td>
	<td id="message<%=ID%>"></td>
</tr>