<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />

	<table class="plugins_list table-hover row-clickable" style="width: 100%">
		<tr>
			<th>Directory Name</th>
		</tr>
		<tbody th:each="plugin,idx : ${unknownPlugins}">
			<tr th:class="${idx.even} ? 'plugin_odd' : 'plugin_even'">
				<td><a th:utext="${plugin}"/>          </td>
			</tr>		
		</tbody>
	</table>
	
	<hr/>
	
	<h1>Add User</h1>
	
	<form action="#" data-th-action="@{/action/edit}" data-th-object="${model}" method="post">
     <button type="submit" name="action" value="save">save</button>
     <button type="submit" name="action" value="cancel">cancel</button>
</form>

	<h1>Remove User</h1>

<form action="#" data-th-action="@{/action/edit}" data-th-object="${model}" method="post">
   
     <button type="submit" name="action" value="remove">save</button>
</form>
	
	<!--  /yield -->

	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>