<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>KDC Failed Deployment Report</title>

<style>
.sidebar-left {
	padding: 10px;
}

/*Demo Styles*/
body {
	margin: 0;
	padding: 20px 0 0 0;
}

p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #444;
}

.infoboximg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.infobox table {
	border: 1px solid black;
	border-radius: 10px;
}

.infobox table, th, td {
	padding: 5px;
}

.center {
	padding: 10px;
}

.goto {
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
	padding: 10px;
}

.goto:hover {
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	padding: 10px;
}

.parambody {
	border: 1px solid black;
	border-radius: 10px;
}

.parambodyouter {
	padding: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
</style>

</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0"
	marginwidth="0">

	<div class="content">
		<img class="banner" src="cid:bannerImage" />
		<h2 class="title" th:text="'Failed Deployment Report: '+${title}"></h2>
		<hr />
	</div>

	<div class="wrap">
		<div id="main-content">
			<div class="infobox">
				<table class="center">
					<tr>
						<td>Plugin Name</td>
						<td th:text="${pluginName}"></td>
					</tr>
					<tr>
						<td>Plugin Version</td>
						<td th:text="${pluginVersion}"></td>
					</tr>
					<tr>
						<td>Operating System</td>
						<td th:text="${osSystem}"></td>
					</tr>
					<tr>
						<td>Operating System Distribution</td>
						<td th:text="${osDistro}"></td>
					</tr>
					<tr>
						<td>KDCompute Version</td>
						<td th:text="${kdcVersion}"></td>
					</tr>
					<tr>
						<td>Dependency Script Used</td>
						<td th:text="${dependencyScript}"></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="sidebar-left">

			<h2>Failed Tests</h2>
			<ul>
				<li th:each="test : ${failedtests}" th:text="${ test}"></li>
			</ul>

			<h2 style="color: #CCCC00" th:if="${!senderDescription.isEmpty()}">Sender
				Description</h2>

			<a cols="2" th:each="e : ${senderDescription}">
				<a th:text="${e}" /> <br />
			</a>
			<h2 th:if="${!stderr.isEmpty()}" style="color: red">Stderr</h2>
			<a cols="2" th:each="e : ${stderr}">
				<a th:text="${e}" /> <br />
			</a>
			<h2 th:if="${!stdout.isEmpty()}" style="color: blue">Stdout</h2>
			<a cols="2" th:each="e : ${stdout}">
				<a th:text="${e}" /> <br />
			</a>
		</div>
	</div>
</body>


</html>