<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Job Summary</title>

<style>
.sidebar-left {
	padding: 10px;
}

/*Demo Styles*/
body {
	margin: 0;
	padding: 20px 0 0 0;
}

p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	color: #444;
	margin: 20px;
	padding: 150px 0; /*Add some height to the columns*/
}

/*Base Mobile Layout*/
.wrap {
	width: 90%;
	margin: 0 auto;
}

#main-content, #sidebar-left, #sidebar-right {
	width: 100%;
	float: left;
}

/*3 Column Layout*/
@media only all and (min-width: 800px) {
	.wrap {
		width: 100%;
		margin: 0 auto;
	}
	#main-content {
		width: 40%;
		float: left;
	}
	#sidebar-left {
		width: 60%;
		float: left;
	}
}

/*Wide Layout*/
@media only all and (min-width: 1200px) {
	.wrap {
		margin: 0 auto;
	}
}

/*Move Sidebar Position*/
@media only all and (min-width: 800px) {
	.wrap, #main-content, #sidebar-left, #sidebar-right {
		position: relative;
	}
	#main-content, #sidebar-left, #sidebar-right {
		top: 0;
	}
	#sidebar-right {
		right: 0;
	}
	#sidebar-left {
		left: -40%; /*Width of #main-content*/
	}
	#main-content {
		left: 60%; /*Width of #left-sidebar*/
	}
}

/*Optional 2 Column Layout*/
@media only all and (min-width: 300px) and (max-width: 800px) {
	#sidebar-right {
		width: 50%;
	}
	#sidebar-left {
		width: 100%;
	}
	#main-content {
		position: relative;
		top: 0;
		left: 0;
	}
}

.infoboximg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title {
	text-align: center;
}

.infobox table {
	border: 1px solid black;
	border-radius: 10px;
}

.infobox table, th, td {
	padding: 5px;
}

.center {
	margin: auto;
	padding: 10px;
	text-align: center;
}

.goto {
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
	padding: 10px;
}

.goto:hover {
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	padding: 10px;
}

.parambody {
	border: 1px solid black;
	border-radius: 10px;
}

.parambodyouter {
	padding: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
</style>

</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0"
	marginwidth="0">

	<div class="content">
		<a th:href="${kdcUrl}"> <img class="banner" src="cid:bannerImage" />
		</a>
		<h3 class="title">Job Summary</h3>
		<h2 class="title" th:text="${title}"></h2>
		<hr />
	</div>

	<div class="wrap">
		<div id="main-content">

			<div class="infobox">
				<img class="infoboximg" alt="Smiley face" src="cid:jobStateImage" />
				<p class="center" th:text="${jobStateMsg}"></p>
				<table class="center">
					<tr>
						<td>Job ID</td>
						<td th:text="${jobid}"></td>
					</tr>
					<tr>
						<td>Created</td>
						<td th:text="${jobcreated}"></td>
					</tr>
					<tr>
						<td>Started</td>
						<td th:text="${jobstart}"></td>
					</tr>
					<tr>
						<td>Finished</td>
						<td th:text="${jobend}"></td>
					</tr>
				</table>
				<a th:href="${jobSummaryUrl}"><img class="goto infoboximg"
					title="Display Job in KDCompute" src="cid:gotoKDCImg" /></a>
			</div>
		</div>
		<div id="sidebar-left">
			<div class="parambodyouter">
				<div class="parambody">
					<div th:if="${filename2LinksMap!=null}">
						<h3>Generated Files</h3>
						<p>Click the following links to retrieve files generated by
							this job:</p>
						<ul>
							<li th:each="flm:${filename2LinksMap}" th:name="${flm.key}"><a
								th:href="${flm.value}" th:text="${flm.key}"></a></li>
						</ul>
					</div>
					<div th:if="${filename2LinksMap==null}">
						<p>All files generated by this job are attached.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


</html>