<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Email Sent</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdc_custom.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />

<script type="text/javascript">
/*<![CDATA[*/
	function redirect() {
		window.setTimeout(function() {
			 var context = [[@{/}]];
			location.href = context+'/admin';
			}, 2000);
	}
/*]]>*/
</script>
<style>
.pad10 {
	padding: 10%;
}
</style>

</head>

<body onload="redirect()">
	<div th:replace="kdheadersfooters :: header"></div>
	<form action="#" th:action="@{/admin}" role="form">
		<input type="hidden" />
	</form>
	<center>
		<img class="pad10" th:src="@{static/img/sentemail.png}" />
		<h1 th:text="'Email sent to '+${address}"></h1>
	</center>
	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>