<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute Plugins</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<style>
table, td, th {
	border: 1px solid #ddd;
	text-align: left;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 5px;
}

.center {
	text-align: center;
}
</style>

<style>
#kdcompute_footer {
	clear: both;
	text-align: center;
	display: block;
	font-weight: bold;
	color: #0d3c65;
	margin-top: 120px;
	border-top: 1px solid #0d3c65;
	z-index: -1;
}

#login_header {
	background: #4fa8ff !important;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(white, #4fa8ff) !important;
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, #4fa8ff) !important;
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #4fa8ff) !important;
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #4fa8ff) !important;
	/* Standard syntax */
	padding: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
}

.header-logo {
	display: block;
	margin: 0 auto;
	top: 50%;
}
</style>


<script type="text/javascript">
alert('To save this page, use: Right click > Print > Change > Save as pdf');
</script>

</head>

<body>


	<header id="login_header">
		<img class="header-logo"
			th:src="@{/static/img/KDCompute_with_text_login.png}" />
	</header>
	<h1 class="center">Plugins Catalog</h1>
	<table>
		<tr>
			<th>Algorithm</th>
			<th>Documented Version</th>
		</tr>
		<tr th:each="plugin : ${plugins}">
			<td ><a th:href="${'#'+plugin.getRef()}" th:text="${plugin.getPlugin().getAlgorithmName()}"></a></td>
			<td class="center" th:text="${plugin.getPlugin().getVersion()}"></td>
		</tr>
	</table>

	

	<div th:each="pluginHelpHtml : ${pluginHelpHtmlList}">
		<div style="page-break-before: always">&nbsp;</div>
		<div th:utext="${pluginHelpHtml}"></div>
		<hr />
	</div>

	<!--  /yield -->
	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>