<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KDCompute</title>
<meta name="description" content="KDCompute" />
<meta name="keywords" content="DArT KDDart KDCompute" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/custom.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/font-awesome.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/kdcompute_headersfooters.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/misc.css}" />

</head>

<body>
	<div th:replace="kdheadersfooters :: header"></div>
	<!-- yield	 -->

	<form action="#" th:action="@{/misc/documentall/html}">
		<input id="docoall" type="submit" value="View documentation of all plugins" />
	</form>



	<!--  /yield -->
	<div th:replace="kdheadersfooters :: footer"></div>
</body>
</html>