<tr id="knobfragment">
	<td> <%=TITLE%> </td>
	<td><div id="kdcompute_choice_datatype">
			<input type="checkbox" id="<%=ID%>" name="<%=ID%>"
				class="knobE knobE" value="<%=DEFAULT%>">
		</div></td>
		<td id="message<%=ID%>"></td>
</tr>