<tr id="knobfragment">
	<td><%=TITLE%></td>
	<td><div id="kdcompute_decimal_datatype">
			<input type="number" id="<%=ID%>" name="<%=ID%>" class="knobE"
				value="<%=DEFAULT%>" step="<%=STEP%>"> <span id="warning<%=ID%>"></span>
		</div></td>
		<td id="message<%=ID%>"></td>
</tr>