<tr id="knobfragment">
	<td><%=TITLE%></td>
	<td>
		<input id="<%=ID%>" name="file_kdcompute_knob" 
		onchange="assignChangeListener('<%=ID%>');" class="knobE" type="file">
	</td>
	<td id="message<%=ID%>"></td>
</tr>