<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<script type="text/javascript" th:src="@{/static/js/jquery-1.9.1.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/algorithmform.css}" />
<script th:src="@{/static/js/plugins/algorithmform.js}"></script>
<head>
<meta charset="UTF-8" />
</head>

<body>
	<div class="algorithm_content_body">
		<div th:include="examples_dropdown" ></div>
		<div id="form_knob">
				<form enctype="multipart/form-data" method="post" action="/submitform" onSubmit="window.close();" >