<tr id="knobfragment">
	<td> <%=TITLE%> </td>
	<td>
		<div id="kdcompute_integer_datatype">

			<input type="number" id="<%=ID%>" name="<%=ID%>"
				class="knobE" value="<%=DEFAULT%>" step="1"> <span
				id="warning<%=ID%>"></span>
		</div>
	</td>
	<td id="message<%=ID%>"></td>
</tr>